{% extends 'WhereGroupThemeBundle::template.html.twig' %}

{% block title %}MeTaDor - Dienste{% endblock %}

{% block center %}
<div class="content">
    {% include 'WhereGroupThemeBundle:Template:flashMessages.html.twig' %}
    <div class="search-content">
        {% if paging.prevPage is defined %}<a href="{{ path('metadata_index', { 'profile' : profile, 'page' : paging.prevPage }) }}" style="border: 1px solid red;">{% endif %}
        <div class="search-prev{% if paging.prevPage is not defined %} disabled{% endif %}" id="search_prev" data-page="">
            <div class="page-arrow"></div>
        </div>
        {% if paging.prevPage is defined %}</a>{% endif %}
        <div class="search-center">
            <div class="search-center-form">
                <div class="search-center-form-left" id="search_pageinfo">
                    Seite {{ paging.currentPage }} von {{ paging.pages }}
                </div>
                <div class="clear"></div>
            </div>
        {# CONTENT START #}
            <div class="tableBorder">
                <table class="table" id="metadataTable" data-controller="service">
                    <thead>
                        <tr>
                            <th>{{'Titel'|trans}}</th>
                            <th>bearbeitet von</th>
                            <th>bearbeitet am</th>
                            {% if conf['gdi_de'] is defined
                                and conf['gdi_de']['url'] is not empty
                                and conf['gdi_de']['user'] is not empty
                                and conf['gdi_de']['password'] is not empty
                            %}
                            <th>GDI-DE</th>
                            {% endif %}
                            <th class="right last-1" title="öffentlich"><div class="icon world"></div></th>
                            <th class="right last-1"><div class="icon appedit"></div></th>
                        </tr>
                    </thead>
                    <tbody>
                {% for row in rows %}
                    <tr data-id="{{ row.id }}">
                        <td>{{ row.title }}</td>
                        <td>{{ row.updateUser.username }}</td>
                        <td>{{ row.updateTime|date("d.m.Y H:i") }}</td>
                        {% if conf['gdi_de'] is defined
                            and conf['gdi_de']['url'] is not empty
                            and conf['gdi_de']['user'] is not empty
                            and conf['gdi_de']['password'] is not empty
                        %}
                        <td class="testsuite"><a href="{{ path('wheregroup_metador_gdide_show', {'id':row.id}) }}" target="_BLANK">Testsuite</a></td>
                        {% endif %}
                        <td>
            {% if row.readonly == 0 %}
                            <input type="checkbox" name="{{ row.id }}" class="shareMetadata" {% if row.public == 1 %}checked="checked"{% endif %} />
            {% endif %}
                        </td>
                        <td class="right last-1">
            {% if row.readonly == 0 %}
                            <form action="{{ path('metadata_edit', { 'profile' : profile, 'id' : row.id }) }}" method="get">
                                <button class="noStyle">
                                    <span class="icon-bin2"></span>
                                </button>
                            </form>
            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                    </tbody>
                </table>
            </div>
        {# CONTENT END #}
        </div>
        {% if paging.nextPage is defined %}<a href="{{ path('metadata_index', { 'profile' : profile, 'page' : paging.nextPage }) }}" style="border: 1px solid red;">{% endif %}
        <div class="search-next{% if paging.nextPage is not defined %} disabled{% endif %}" id="search_next" data-page="">
            <div class="page-arrow"></div>
        </div>
        {% if paging.nextPage is defined %}</a>{% endif %}
    </div>
</div>
{% endblock %}
