{% set tabId = 'tab-classification' %}
<div class="mdtab-content" data-mdtab-content="classification">
    <h1 class="title">{% trans %}Klassifizierung{% endtrans %}</h1>

    <div class="grid space responsive">
        <div class="row r-2">
            <div class="col c-2-3">
                {{ form_element.select({
                    'name'            : 'p[serviceType]',
                    'label'           : 'Geodatendienst',
                    'default'         : '',
                    'validatorSources': tabId,
                    'hasList'         : true,
                    'p'               : p,
                    'defaultList'     : {
                        ''              : '',
                        'view'          : 'Darstellungsdienste',
                        'invoke'        : 'Dienste zum Abrufen von Geodatendiensten',
                        'download'      : 'Download-Dienste',
                        'other'         : 'Sonstige Dienste',
                        'discovery'     : 'Suchdienste',
                        'transformation': 'Transformationsdienste'
                    }
                }) }}
            </div>
            <div class="col c-1-3">
                {{ form_element.input({
                    'name'            : 'p[serviceTypeVersion]',
                    'label'           : 'Version',
                    'placeholder'     : '1.1.1',
                    'validatorSources': tabId,
                    'p'               : p
                }) }}
            </div>
        </div>

        <div class="row r-1">
            <div class="col c-1">
                <h2 class="title">{% trans %}Dienste Operationen{% endtrans %}</h2>
            </div>
        </div>
        <div class="row r-2">
            <div class="col c-1-2">
                {{ form_element.input({
                    'name'            : 'p[containsOperationsName]',
                    'label'           : 'Operation',
                    'placeholder'     : 'GetCapabilities',
                    'validatorSources': tabId,
                    'p'               : p
                }) }}
            </div>
            <div class="col c-1-2">
                {{ form_element.input({
                    'name'            : 'p[containsOperationsDCP]',
                    'label'           : 'WebService',
                    'placeholder'     : 'Platform',
                    'validatorSources': tabId,
                    'p'               : p
                }) }}
            </div>
        </div>
        <div class="row r-1">
            <div class="col c-1">
                {{ form_element.input({
                    'name'            : 'p[containsOperationsURL]',
                    'label'           : 'URL',
                    'validatorSources': tabId,
                    'p'               : p
                }) }}
            </div>
        </div>
    </div>
</div>
