{% extends 'MetadorThemeBundle:Theme:template.html.twig' %}

{% import 'MetadorBasicProfileBundle:Makro:form.html.twig' as profileForm %}

{% block center %}
{% set id = '' %}
{% if metadataId is defined and metadataId is not empty %}
    {% set id = metadataId %}
{% elseif p['_id'] is defined and p['_id'] is not empty  %}
    {% set id = p['_id'] %}
{% endif %}

<form action="{{ path('metadata_save', {source: metadataSource, profile: metadataProfil}) }}" method="post" id="metadata-form" autocomplete="off">
    <input type="hidden" name="p[_id]" value="{{ id }}" />
    <input type="hidden" name="p[fileIdentifier]" value="{% if p['fileIdentifier'] is defined and p['fileIdentifier'] is not empty %}{{ p['fileIdentifier'] }}{% endif %}" />
    <input type="hidden" name="p[_source]" value="{{ metadataSource }}" />
    <input type="hidden" name="p[_profile]" value="{{ metadataProfil }}" />
    <input type="hidden" name="p[hierarchyLevel]" value="service" />

    <div class="center menu">
        <div class="center-left">
            <ul class="left-menu">
                <li data-mdtab="metadata" class="act">
                    <span>{% trans %}Metadatensatz{% endtrans %}</span>
                    <span class="-js-error-count error-count"></span>
                </li>
                <li data-mdtab="identification">
                    <span>{% trans %}Identifikation{% endtrans %}</span>
                    <span class="-js-error-count error-count"></span>
                </li>
                <li data-mdtab="classification">
                    <span>{% trans %}Klassifizierung{% endtrans %}</span>
                    <span class="-js-error-count error-count"></span>
                </li>
                <li data-mdtab="keyword">
                    <span>{% trans %}Schlüsselwort{% endtrans %}</span>
                    <span class="-js-error-count error-count"></span>
                </li>
                <li data-mdtab="geographic">
                    <span>{% trans %}Geografischer{% endtrans %}</span>
                    <span class="-js-error-count error-count"></span>
                </li>
                <li data-mdtab="temporal">
                    <span>{% trans %}Zeitbezug{% endtrans %}</span>
                    <span class="-js-error-count error-count"></span>
                </li>
                <li data-mdtab="conformity">
                    <span>{% trans %}Übereinstimmung{% endtrans %}</span>
                    <span class="-js-error-count error-count"></span>
                </li>
                <li data-mdtab="constraints">
                    <span>{% trans %}Beschränkungen{% endtrans %}</span>
                    <span class="-js-error-count error-count"></span>
                </li>
                <li data-mdtab="responsibleparty">
                    <span>{% trans %}Zuständige Stelle{% endtrans %}</span>
                    <span class="-js-error-count error-count"></span>
                </li>
            </ul>
            <div class="left-menu-content">
                <div class="grid space">
                    <div class="row r-2">
                        <div class="col c-1-2 -js-toggle-switch switch-row">
                            <span class="icon-toggle-off -js-toggle-switch-icon"></span>
                            <span class="-js-toggle-switch-label switch-label">{% trans %}Freigabe{% endtrans %}</span>
                            <input type="hidden" name="p[public]" class="-js-toggle-switch-input" value="0" />
                        </div>
                        <div class="col c-1-2 -js-toggle-switch switch-row">
                            <span class="icon-toggle-on -js-toggle-switch-icon"></span>
                            <span class="-js-toggle-switch-label switch-label">{% trans %}Validierung{% endtrans %}</span>
                            <input type="hidden" id="validation" class="-js-toggle-switch-input" value="1" />
                        </div>
                    </div>
                </div>

                {% if app.user and metadata is not defined or (metadata is defined and is_granted('edit', metadata)) %}
                <div class="simple-select -js-metadata-save disabled">
                    <button type="submit" class="simple-select-default-button metadata-save-button -js-metadata-button" name="submit" value="close" disabled>
                        <span class="icon-download -js-metadata-button-status"></span>
                        {% trans %}Speichern und beenden{% endtrans %}
                    </button>
                    <div class="simple-select-button">&nbsp;
                        <div class="simple-select-options">
                            <button type="submit" class="simple-select-option metadata-save-button -js-metadata-button" name="submit" value="save" disabled>
                                <span class="form-icon icon-download"></span>
                                {% trans %}Zwischenstand speichern{% endtrans %}
                            </button>
                            <button type="submit" class="simple-select-option metadata-abort-button" name="submit" value="abort">
                                <span class="form-icon icon-sign-out"></span>
                                {% trans %}Abbrechen{% endtrans %}
                            </button>
                        </div>
                    </div>
                </div>
                {% else %}
                    no!
                {% endif %}
            </div>
        </div>
        <div class="center-right">
            <div class="content">
                {% include 'MetadorThemeBundle:Theme:notify.html.twig' %}

                {% include 'MetadorBasicProfileBundle:Profile:metadata.html.twig' %}
                {% include 'MetadorServiceProfileBundle:Profile:identification.html.twig' %}
                {% include 'MetadorServiceProfileBundle:Profile:classification.html.twig' %}
                <div class="mdtab-content" data-mdtab-content="keyword"></div>
                <div class="mdtab-content" data-mdtab-content="geographic"></div>
                <div class="mdtab-content" data-mdtab-content="temporal"></div>
                <div class="mdtab-content" data-mdtab-content="conformity"></div>
                <div class="mdtab-content" data-mdtab-content="constraints"></div>
                <div class="mdtab-content" data-mdtab-content="responsibleparty"></div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/metadorbasicprofile/css/profile.css') }}">
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        var validation = {{ read_validation_rules(metadataProfil) }};
    </script>
    <script src="{{ asset('bundles/metadorbasicprofile/multiinput.js') }}"></script>
    <script src="{{ asset('bundles/metadorbasicprofile/multiform.js') }}"></script>
    <script src="{{ asset('bundles/metadorbasicprofile/profile.js') }}"></script>
{% endblock %}
