{% extends 'MetadorThemeBundle:Theme:template.html.twig' %}

{% import 'MetadorBasicProfileBundle:Makro:form.html.twig' as profileForm %}

{% block center %}
{% set id = '' %}
{% if metadataId is defined and metadataId is not empty %}
    {% set id = metadataId %}
{% elseif p['_id'] is defined and p['_id'] is not empty  %}
    {% set id = p['_id'] %}
{% endif %}

<form action="{{ path('metadata_save', {source: metadataSource, profile: metadataProfil}) }}" method="post" id="metadata-form" autocomplete="off">
    <input type="hidden" name="p[_id]" value="{{ id }}" />
    <input type="hidden" name="p[fileIdentifier]" value="{% if p['fileIdentifier'] is defined and p['fileIdentifier'] is not empty %}{{ p['fileIdentifier'] }}{% endif %}" />
    <input type="hidden" name="p[_source]" value="{{ metadataSource }}" />
    <input type="hidden" name="p[_profile]" value="{{ metadataProfil }}" />
    <input type="hidden" name="p[hierarchyLevel]" value="service" />

    <div class="center menu">
        <div class="center-left">
            <ul class="left-menu">
                <li data-mdtab="metadata" class="act">
                    <span>{% trans %}Metadatensatz{% endtrans %}</span>
                    <span class="-js-error-count error-count"></span>
                </li>
                <li data-mdtab="identification">
                    <span>{% trans %}Identifikation{% endtrans %}</span>
                    <span class="-js-error-count error-count"></span>
                </li>
                <li data-mdtab="classification">
                    <span>{% trans %}Klassifizierung{% endtrans %}</span>
                    <span class="-js-error-count error-count"></span>
                </li>
                <li data-mdtab="keyword">
                    <span>{% trans %}Schlüsselwort{% endtrans %}</span>
                    <span class="-js-error-count error-count"></span>
                </li>
                <li data-mdtab="geographic">
                    <span>{% trans %}Geografischer{% endtrans %}</span>
                    <span class="-js-error-count error-count"></span>
                </li>
                <li data-mdtab="temporal">
                    <span>{% trans %}Zeitbezug{% endtrans %}</span>
                    <span class="-js-error-count error-count"></span>
                </li>
                <li data-mdtab="conformity">
                    <span>{% trans %}Übereinstimmung{% endtrans %}</span>
                    <span class="-js-error-count error-count"></span>
                </li>
                <li data-mdtab="constraints">
                    <span>{% trans %}Beschränkungen{% endtrans %}</span>
                    <span class="-js-error-count error-count"></span>
                </li>
                <li data-mdtab="responsibleparty">
                    <span>{% trans %}Zuständige Stelle{% endtrans %}</span>
                    <span class="-js-error-count error-count"></span>
                </li>
            </ul>
            <div class="grid padding">
                <div class="row r-2 toggle-public -js-toggle-switch">
                    <div class="col c-1-4">
                        <span class="icon-toggle-off -js-toggle-switch-icon"></span>
                    </div>
                    <div class="col c-3-4 -js-toggle-switch-label">Freigabe</div>
                    <input type="hidden" name="p[public]" class="-js-toggle-switch-input" value="0" />
                </div>
                <div class="row r-2 toggle-validation -js-toggle-switch">
                    <div class="col c-1-4">
                        <span class="icon-toggle-off -js-toggle-switch-icon"></span>
                    </div>
                    <div class="col c-3-4 -js-toggle-switch-label">Validierung</div>
                    <input type="hidden" id="validation" class="-js-toggle-switch-input" value="0" />
                </div>
            </div>
            <div class="left-menu-content">
                {% if app.user and metadata is not defined or (metadata is defined and is_granted('edit', metadata)) %}
                <button class="btn margin-b -js-metadata-button full" type="submit" name="submit" value="save" disabled>
                    <span class="icon-download -js-metadata-button-status"></span> {% trans %}speichern{% endtrans %}
                </button>
                {% else %}
                    no!
                {% endif %}
            </div>

        </div>
        <div class="center-right">
            <div class="content">
                {% include 'MetadorThemeBundle:Theme:notify.html.twig' %}

                {% include 'MetadorBasicProfileBundle:Profile:metadata.html.twig' %}
                {% include 'MetadorServiceProfileBundle:Profile:identification.html.twig' %}
                {% include 'MetadorServiceProfileBundle:Profile:classification.html.twig' %}
                <div class="mdtab-content" data-mdtab-content="keyword"></div>
                <div class="mdtab-content" data-mdtab-content="geographic"></div>
                <div class="mdtab-content" data-mdtab-content="temporal"></div>
                <div class="mdtab-content" data-mdtab-content="conformity"></div>
                <div class="mdtab-content" data-mdtab-content="constraints"></div>
                <div class="mdtab-content" data-mdtab-content="responsibleparty"></div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/metadorbasicprofile/css/profile.css') }}">
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        var validation = {{ read_validation_rules(metadataProfil) }};
    </script>
    <script src="{{ asset('bundles/metadorbasicprofile/multiinput.js') }}"></script>
    <script src="{{ asset('bundles/metadorbasicprofile/multiform.js') }}"></script>
    <script src="{{ asset('bundles/metadorbasicprofile/profile.js') }}"></script>
{% endblock %}
