<h1 class="title">{% trans %}Metadaten{% endtrans %}</h1>

<div class="grid space responsive">
    <div class="row r-2">
        <div class="col c-1-2">
            {# RESOURCE LANGUAGE #}

            {% set id = 'p[metadataLanguage]' %}
            {% set val = p['metadataLanguage'] is defined ? p['metadataLanguage'] : 'ger' %}

            <label for="" class="form-label">{% trans %}Sprache der Metadaten{% endtrans %}</label>
            <div class="form-field-wrapper i2">
                <span class="form-icon-type icon-mandatory rs left"></span>
                <select name="{{ id }}" class="select">
                    <option value="ger" {{ md_select(val, 'ger') }}>{% trans %}Deutsch{% endtrans %}</option>
                    <option value="eng" {{ md_select(val, 'eng') }}>{% trans %}Englisch{% endtrans %}</option>
                </select>
                <span class="form-icon icon-question2 right -js-show-help" {{ id|md_data_obj }}></span>
            </div>
        </div>
        <div class="col c-1-2"></div>
    </div>

    <div class="row r-1">
        <div clas="col c-1">
            <h2 class="title">{% trans %}Angaben zur Metadatenspezifikation{% endtrans %}</h2>
        </div>
    </div>

    <div class="row r-2">
        <div class="col c-1-2">
            {# METADATA STANDARD NAME #}

            {% set id = 'p[metadataStandardName]' %}
            {% set val = p['metadataStandardName'] is defined ? p['metadataStandardName'] : 'ISO 19119' %}

            <label for="" class="form-label">{% trans %}Spezifikation{% endtrans %}</label>
            <div class="form-field-wrapper i2">
                <span class="form-icon-type icon-mandatory rs left"></span>
                <input name="{{ id }}" id="{{ id|md_id }}" type="text" value="{{ val }}" class="input"/>
                <span class="form-icon icon-question2 right -js-show-help" {{ id|md_data_obj }}></span>
            </div>
        </div>
        <div class="col c-1-2">
            {# METADATA STANDARD VERSION #}

            {% set id = 'p[metadataStandardVersion]' %}
            {% set val = p['metadataStandardVersion'] is defined ? p['metadataStandardVersion'] : '2005/PDAM 1' %}

            <label for="" class="form-label">{% trans %}Version{% endtrans %}</label>
            <div class="form-field-wrapper i2">
                <span class="form-icon-type icon-mandatory rs left"></span>
                <input name="{{ id }}" id="{{ id|md_id }}" type="text" value="{{ val }}" class="input"/>
                <span class="form-icon icon-question2 right -js-show-help" {{ id|md_data_obj }}></span>
            </div>
        </div>
    </div>

    <div class="row r-1">
        <div clas="col c-1">
            {# BROWSER GRAPHIC #}

            {% set id = 'p[browserGraphic]' %}
            {% set val = p['browserGraphic'] is defined ? p['browserGraphic'] : '' %}

            <label for="" class="form-label">{% trans %}Browser Bild{% endtrans %}</label>
            <div class="form-field-wrapper i2">
                <span class="form-icon-type icon-optional rs left"></span>
                <input name="{{ id }}" id="{{ id|md_id }}" type="text" value="{{ val }}" class="input"/>
                <span class="form-icon icon-question2 right -js-show-help" {{ id|md_data_obj }}></span>
            </div>
        </div>
    </div>
</div>
