{% macro document_header(value) %}
        <tr>
            <th colspan="2" class="view-header-one">{{ value|trans }}</th>
        </tr>
{% endmacro %}

{% macro line(label, value) %}
    {% if value is not empty %}
    <tr>
        <td class="view-property-label view-header-three" style="width: 40%;">{{ label|trans }}</td>
        <td class="view-property" style="width: 60%;">{{ value }}</td>
    </tr>
    {% endif %}
{% endmacro %}

{% macro singleline(value) %}
    {% if value is not empty %}
    <tr>
        <td colspan="2" class="view-property">{{ value }}</td>
    </tr>
    {% endif %}
{% endmacro %}

{% macro topic_one(value) %}
    <tr>
        <th colspan="2" class="view-header-one">{{ value }}</th>
    </tr>
{% endmacro %}

{% macro topic_two(value) %}
    <tr>
        <th colspan="2" class="view-row-one view-header-one">{{ value|trans }}</th>
    </tr>
{% endmacro %}

{% macro topic_three(value) %}
    <tr><td colspan="2" class="html-gap pdf-gap"></td></tr>
    <tr><td colspan="2" class="view-row-two view-header-two">{{ value|trans }}</td></tr>
    <tr><td colspan="2" class="html-gap pdf-gap"></td></tr>
{% endmacro %}
