{% extends 'WhereGroupThemeBundle:Template:admin.html.twig' %}

{% block content %}
    <h1>{{ 'Benutzer'|trans }}</h1>

    {% for user in users %}

    {% set class = '' %}
    {% if not user.isactive %}
        {% set class = class ~ ' disabled' %}
    {% endif %}
    {% if 'ROLE_SUPERUSER' in user.roles %}
        {% set class = class ~ ' superuser' %}
    {% endif %}

    <div class="title-box {{ class|trim }}">
        <div class="title-box-logo">
            <a href="{{ path('metador_admin_user_edit', {'id': user.id}) }}">
                <span class="icon-user"></span>
            </a>
        </div>
        <div class="title-box-info">
            <div class="title">
                <a href="{{ path('metador_admin_user_edit', {'id': user.id}) }}">
                {{ user.username }}
                </a>
            </div>
            <div class="alternate">
                {{ user.email }}
            </div>
        </div>
    </div>
    {% endfor %}
    <br/>
{% endblock %}
