{% extends 'MetadorThemeBundle:Template:admin.html.twig' %}

{% block title %}{{ 'Benutzer'|trans }}{% endblock %}

{% block content %}
    {% for user in users %}

    {% set class = '' %}
    {% if not user.isactive %}
        {% set class = class ~ ' disabled' %}
    {% endif %}

    {% if 'ROLE_SYSTEM_SUPERUSER' in user.roles %}
        {% set class = class ~ ' superuser' %}
    {% endif %}
    
    <div class="title-box {{ class|trim }}">
{#        <div class="title-box-logo">#}
            <a href="{{ path('metador_admin_user_edit', {'id': user.id}) }}">
                {% if user.profilepicture is defined and user.profilepicture is not empty %}
                    <div class="title-box-img">
                        <img src="data:image/jpeg;base64,{{ user.profilepicture }}"/>
                    </div>
                {% else %}
                    <div class="title-box-logo">
                        <span class="icon-user"></span>
                    </div>
                {% endif %}
            </a>
{#        </div>#}
        <div class="title-box-info">
            <div class="title">
                <a href="{{ path('metador_admin_user_edit', {'id': user.id}) }}">
                {{ user.username|teaser(13, 1) }}
                </a>
            </div>
            <div class="alternate">
                {{ user.email }}
            </div>
            <div class="count" title="{% for group in user.groups %}{{ group.role ~ "\n" }}{% endfor %}">
                {{ user.groups|length }}
            </div>
        </div>
    </div>
    {% endfor %}
    <br/>
{% endblock %}
