{% extends 'MetadorThemeBundle:Admin:template.html.twig' %}

{% if form.vars.value.id is defined and form.vars.value.id is not empty %}
    {% set title  = 'Benutzer bearbeiten'|trans %}
    {% set path   = 'metador_admin_user_update' %}
    {% set params = {id: form.vars.value.id} %}
{% else %}
    {% set title  = 'Benutzer erstellen'|trans %}
    {% set path   = 'metador_admin_user_create' %}
    {% set params = {} %}
{% endif %}

{# CONTENT #}
{% block content %}
    <div class="grid content-title">
        <div class="row r-2">
            <div class="col c-1-2">
                <h1 class="title">{{ title }}</h1>
            </div>
            <div class="col c-1-2 text-right">
                <a href="{{ path('metador_admin_user') }}" class="btn medium">
                    <span class="icon-th-list"></span> {% trans %}Übersicht{% endtrans %}
                </a>
            </div>
        </div>
    </div>

    <hr class="line-separator" />

    {{ form_start(form, { 'action': path(path, params), 'method': 'POST', 'attr': {
        novalidate: 'novalidate', autocomplete: 'off'
    }}) }}
    <div class="basic-form">
        {{ form_widget(form) }}
    </div>

    <hr class="line-separator" />

    <div class="grid space">
        <div class="row r-1">
            <div class="col c-1 text-right">
                <button class="btn success medium">
                    <span class="icon-checkmark"></span> {% trans %}speichern{% endtrans %}
                </button>
                {% if form.vars.value.id is defined and form.vars.value.id is not empty %}
                <a href="{{ path('metador_admin_user_confirm', params) }}" class="btn error medium">
                    <span class="icon-bin2"></span> {% trans %}löschen{% endtrans %}
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
