{% extends 'MetadorThemeBundle:Template:admin.html.twig' %}

{% if form.vars.value.id is defined and form.vars.value.id is not empty %}
    {% set title  = 'Benutzer bearbeiten'|trans %}
    {% set path   = 'metador_admin_user_update' %}
    {% set params = {id: form.vars.value.id} %}
{% else %}
    {% set title  = 'Benutzer erstellen'|trans %}
    {% set path   = 'metador_admin_user_create' %}
    {% set params = {} %}
{% endif %}

{% block title %}{{ title }}{% endblock %}

{# CONTENT #}
{% block content %}
    <div class="basic-form">
        {{ form_widget(form) }}
    </div>
{% endblock %}

{# MENU #}
{% block plugin_menu %}
    {{ parent() }}

    <li>
        <button type="submit" class="no-style-button">
            <span class="icon-floppy-disk"></span>
            {% trans %}speichern{% endtrans %}
        </button>
    </li>
{% endblock %}

{# FORM START #}
{% block form_start %}
    {{ form_start(form, { 'action': path(path, params), 'method': 'POST', 'attr': {
        novalidate: 'novalidate', autocomplete: 'off'
    }}) }}
{% endblock %}

{# FORM END #}
{% block form_end %}
    {{ form_end(form) }}
{% endblock %}
