{% extends 'MetadorThemeBundle:Theme:template.html.twig' %}

{% import 'MetadorBasicProfileBundle:Makro:form.html.twig' as form_element %}

{% block center %}
    <form action="{{ path('metadata_save', {source: metadataSource, profile: metadataProfil}) }}" method="post" id="metadata-form" autocomplete="off">
        <input type="hidden" name="p[_id]" value="{% if p['_id'] is defined and p['_id'] is not empty %}{{ p['_id'] }}{% endif %}" />
        <input type="hidden" name="p[fileIdentifier]" value="{% if p['fileIdentifier'] is defined and p['fileIdentifier'] is not empty %}{{ p['fileIdentifier'] }}{% endif %}" />
        <input type="hidden" name="p[_source]" value="{{ metadataSource }}" />
        <input type="hidden" name="p[_profile]" value="{{ metadataProfil }}" />
        <input type="hidden" name="p[hierarchyLevel]" value="dataset" />

        <div class="center menu">
            <div class="center-left">
                <ul class="left-menu">
                    <li data-mdtab="metadata" class="act"><span>{% trans %}Metadatensatz{% endtrans %}</span></li>
                    <li data-mdtab="identification"><span>{% trans %}Identifikation{% endtrans %}</span></li>
                    <li data-mdtab="classification"><span>{% trans %}Klassifizierung{% endtrans %}</span></li>
                    <li data-mdtab="keyword"><span>{% trans %}Schlüsselwort{% endtrans %}</span></li>
                    <li data-mdtab="geographic"><span>{% trans %}Geografischer{% endtrans %}</span></li>
                    <li data-mdtab="temporal"><span>{% trans %}Zeitbezug{% endtrans %}</span></li>
                    <li data-mdtab="quality"><span>{% trans %}Qualität{% endtrans %}</span></li>
                    <li data-mdtab="conformity"><span>{% trans %}Übereinstimmung{% endtrans %}</span></li>
                    <li data-mdtab="constraints"><span>{% trans %}Beschränkungen{% endtrans %}</span></li>
                    <li data-mdtab="responsibleparty"><span>{% trans %}Zuständige Stelle{% endtrans %}</span></li>
                </ul>
                <div class="left-menu-content">
                    {% if app.user and metadata is not defined or (metadata is defined and is_granted('edit', metadata)) %}
                        <button class="btn margin-b -js-metadata-button full" type="submit" name="submit" value="save" disabled>
                            <span class="icon-download -js-metadata-button-status"></span> {% trans %}speichern{% endtrans %}
                        </button>

                        <button class="btn info full" type="submit" name="submit" value="close">
                            <span class="icon-checkmark"></span> {% trans %}freigeben{% endtrans %}
                        </button>
                    {% else %}
                        no!
                    {% endif %}
                </div>
            </div>
            <div class="center-right">
                <div class="content">
                    {% include 'MetadorThemeBundle:Theme:notify.html.twig' %}

                    {% include 'MetadorBasicProfileBundle:Profile:metadata.html.twig' %}
                    {% include 'MetadorDatasetProfileBundle:Profile:identification.html.twig' %}
                    <div class="mdtab-content" data-mdtab-content="classification"></div>
                    <div class="mdtab-content" data-mdtab-content="keyword"></div>
                    <div class="mdtab-content" data-mdtab-content="geographic"></div>
                    <div class="mdtab-content" data-mdtab-content="temporal"></div>
                    <div class="mdtab-content" data-mdtab-content="quality"></div>
                    <div class="mdtab-content" data-mdtab-content="conformity"></div>
                    <div class="mdtab-content" data-mdtab-content="constraints"></div>
                    <div class="mdtab-content" data-mdtab-content="responsibleparty"></div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/metadorbasicprofile/profile.js') }}"></script>
{% endblock %}
