<div class="mdtab-content" data-mdtab-content="identification">
    <h1 class="title">{% trans %}Identifizierung{% endtrans %}</h1>

    {% set tabId = 'identification' %}

    <div class="grid space responsive">
        <div class="row r-1">
            <div class="col c-1">
                {% set value = p['title'] is defined ? p['title'] : '' %}
                {{ form_element.input('p[title]', value, '', 'Titel', 'mandatory', '', tabId) }}
            </div>
        </div>
        <div class="row r-1">
            <div class="col c-1">
                {% set value = p['alternateTitle'] is defined ? p['alternateTitle'] : '' %}
                {{ form_element.input('p[alternateTitle]', value, '', 'Alternativtitel', 'optional', '', tabId) }}
            </div>
        </div>
        <div class="row r-1">
            <div class="col c-1">
                {% set value = p['abstract'] is defined ? p['abstract'] : '' %}
                {{ form_element.text('p[abstract]', value, '', 'Kurzbeschreibung', 'mandatory', '', tabId) }}
            </div>
        </div>
        <div class="row r-1">
            <div class="col c-1">
                <h2 class="title">{% trans %}Bezeichner{% endtrans %}</h2>
            </div>
        </div>
        <div class="row r-2">
            <div class="col c-1-2">
                {% set value = p['identifierCode'] is defined ? p['identifierCode'] : '' %}
                {{ form_element.input('p[identifierCode]', value, '', 'Code', 'mandatory', '', tabId) }}
            </div>
            <div class="col c-1-2">
                {% set value = p['identifierCodespace'] is defined ? p['identifierCodespace'] : '' %}
                {{ form_element.input('p[identifierCodespace]', value, '', 'Namensraum', 'optional', '', tabId) }}
            </div>
        </div>
    </div>
</div>
