<ul>
    <li {% if controller_action() == 'index' %}class="act"{% endif %}>
        <a href="{{ path('wheregroup_metador_service_index') }}">Übersicht</a>
    </li>
    <li {% if controller_action() == 'new' or controller_action() == 'use' %} class="act"{% endif %}>
        <a href="{{ path('wheregroup_metador_service_new') }}">{{'neu'|trans}}</a>
    </li>

{% if controller_action() == 'edit' %}
    <li class="act">
        <span>{{'bearbeiten'|trans}}</span>
    </li>
{% endif %}

{% if controller_action() != 'index' %}
    <li class="metadataFormSubmit"><span>speichern</span></li>
    <li><a href="{{ path('wheregroup_metador_service_index') }}">abbrechen</a></li>
{% endif %}
</ul>
