{% extends 'WhereGroupThemeBundle:Template:admin.html.twig' %}

{% block content %}
    <h1>{{ 'Plugins'|trans }}</h1>
    <table class="plugin-table">
    {% for key, plugin in plugins %}
        <tr class="plugin-row">
            <td class="plugin-col-mark">
                <span class="plugin-mark{% if plugin['active'] %} icon-checkmark{% else %} icon-checkmark2{% endif %}" data-id="{{ key }}"></span>
                <input type="hidden" id="{{ key }}" name="plugin[{{ key }}]" value="{% if plugin['active'] %}1{% else %}0{% endif %}" />
            </td>
            <td class="plugin-col-name">
                {% if plugin['active'] %}
                <a href="{{ path('metador_admin_plugin_view', { 'plugin': plugin['class_name'] }) }}">
                    {{ plugin['name'] }}</td>
                </a>
                {% else %}
                    {{ plugin['name'] }}</td>
                {% endif %}
            <td class="plugin-col-origin">{{ plugin['origin'] }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}

{% block form_start %}
    <form action="{{ path('metador_admin_plugin_update') }}" method="post">
{% endblock %}

{% block form_end %}
    </form>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/wheregroupplugin/js/plugin.js') }}"></script>
{% endblock %}
