{% extends 'MetadorThemeBundle:Admin:template.html.twig' %}

{% block title %}{% trans %}Plugins{% endtrans %}{% endblock %}

{% block content %}
<div class="grid content-title">
    <div class="row r-2">
        <div class="col c-1-2">
            <h1 class="title dm">{% trans %}Plugins{% endtrans %}</h1>
        </div>
        <div class="col c-1-2 text-right">
            <a href="{{ path('metador_admin_plugin_import') }}" class="btn medium">
                <span class="icon-upload"></span> {% trans %}importieren{% endtrans %}
            </a>
        </div>
    </div>
</div>

<hr class="line-separator" />

<form action="{{ path('metador_admin_plugin_update') }}" method="post">
    {% for origin, originPlugins in plugins %}
    <h2 class="title text-right">{{ origin }}</h2>

        {% for key, plugin in originPlugins %}
        <input type="hidden" id="{{ key }}" name="plugin[{{ key }}]" value="{% if plugin['active'] %}1{% else %}0{% endif %}" />
        <div class="plugin {% if plugin['active'] %}active{% endif %}">
            <div class="plugin-header">
                <div class="plugin-switch -js-toggle-plugin" data-id="{{ key }}">
                {% if plugin['active'] %}
                    <span class="icon-toggle-on"></span>
                {% else %}
                    <span class="icon-toggle-off"></span>
                {% endif %}
                </div>
                <div class="plugin-name">{{ plugin['name']|trans }}</div>
                {% if plugin['settings'] is defined and plugin['active']%}
                <div class="plugin-settings">
                    <a href="{{ path('metador_admin_settings') }}">
                        <span class="icon-gear"></span>
                    </a>
                </div>
                {% endif %}
            </div>
            <div class="plugin-description">{{ plugin['description']|trans }}</div>
            <div class="plugin-footer">
                {% if plugin['type'] is defined %}
                <div class="plugin-type">{{ plugin['type'] }}</div>
                {% endif %}
                <div class="plugin-tags">
                    {% if plugin['tags'] is defined %}
                        {% for tag in plugin['tags'] %}
                            <span class="plugin-tag">{{ tag }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="plugin-version">v {{ plugin['version'] }}</div>
            </div>
        </div>
        {% endfor %}
    {% endfor %}

    <hr class="line-separator" />

    <div class="grid space">
        <div class="row r-1">
            <div class="col c-1 text-right">
                <button class="btn success medium">
                    <span class="icon-checkmark"></span> {% trans %}speichern{% endtrans %}
                </button>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/metadorplugin/js/plugin.js') }}"></script>
{% endblock %}
