{% extends 'MetadorThemeBundle::template.html.twig' %}

{% if profile is defined %}
    {% set formPath   = 'metadata_index' %}
    {% set formParams = { 'profile' :  profile } %}
{% else %}
    {% set formPath   = 'metador_home' %}
    {% set formParams = {} %}
{% endif %}

{% block center %}
<div class="page-content">
    {% include 'MetadorThemeBundle:Template:flashMessages.html.twig' %}

    <div class="search-content">
        <div class="search-content-searchfield">
            <form class="" action="{{ path(formPath, formParams) }}" method="get">
                <input type="hidden" name="hits" value="{% if params.hits is defined %}{{ params.hits }}{% else %}10{% endif %}"/>
                {# PREV PAGE #}
                {% if paging.prevPage is defined %}
                <button class="paging-btn-left" type="submit" name="page" value="{{ paging.prevPage }}">
                    <span class="icon-chevron-left"></span>
                </button>
                {% else %}
                <div class="paging-btn-left disabled">
                    <span class="icon-chevron-left"></span>
                </div>
                {% endif %}

                {# SEARCH ICON #}
                <button class="search-icon" type="submit">
                    <span class="icon-search"></span>
                </button>

                {# SEARCH FIELD #}
                <input class="searchfield" type="text" name="terms" value="{% if params.terms is defined %}{{ params.terms }}{% endif %}" placeholder="Suchbegriff eingeben" />

                {# NEXT PAGE #}
                {% if paging.nextPage is defined %}
                <button class="paging-btn-right" type="submit" name="page" value="{{ paging.nextPage }}">
                    <span class="icon-chevron-right"></span>
                </button>
                {% else %}
                <div class="paging-btn-right disabled">
                    <span class="icon-chevron-right"></span>
                </div>
                {% endif %}

                {# PAGE INFO #}
                <div class="paging-info" title="{{ paging.count }} Datensätze">
                    {% if paging.currentPage is defined %}
                    <span class="icon-files-empty"></span>
                    {{ paging.currentPage }}/{{ paging.pages }}
                    {% endif %}
                </div>
            </form>
        </div>

        <div class="search-content-result">
            {% block searchResult %}
                {% include 'MetadorThemeBundle:Profile:result.html.twig' %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
