{% extends 'WhereGroupThemeBundle::template.html.twig' %}

{% block center %}
<div class="content">
    <div style="font-size: 12px;">
        <div style="float:left;">
            <form method="get" action="{{ path('search_index') }}">
                <label for="search_find">Suche:</label>
                <input type="text" id="search_find" name="find" value="" />
                <button>ok</button>
            </form>
        </div>
        <div style="float:right;">
            <a href="{{ path('import_index') }}" class="metadata-import-link">
                <span class="icon import"></span>&nbsp; Import
            </a>
        </div>
        <div style="clear:both;" />
    </div>
    <hr/>

    {% for item in applicationGet('app-preview') %}
    <div class="preview">
        <div class="head">
            <a href="{{ path('metadata_index', {'profile': item.profile}) }}">{{ item.title }}</a>
            <a href="{{ path('metadata_new', {'profile': item.profile}) }}" style="float:right;">
                <div class="icon add"></div>
            </a>
        </div>
        <div class="body">
            <table class="preview-table">
                {% for row in item.rows %}
                <tr>
                    <td>
                        <a href="{{ path('metadata_edit', {'profile': item.profile, 'id':row.id}) }}">{{ row.title ? row.title : 'noname' }}</a>
                    </td>
                    <td class="last-1">
{% if row.readonly == 0 %}
                        <form action="{{ path('metadata_delete', {'profile': item.profile, 'id':row.id}) }}" method="post">
                            <button class="noStyle" onClick="return confirm('Wirklich löschen?')">
                                <div class="icon delete"></div>
                            </button>
                        </form>
{% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endfor %}
    <div class="preview">
        <div class="head">Adressen</div>
        <div class="body">
            <table class="preview-table">
                {% for row in address %}
                <tr>
                    <td>{{ row.individualName ? row.individualName : 'noname' }}</td>
                    <td class="last-1">
                        <form action="{{ path('wheregroup_metador_default_addressdelete', {'id':row.id}) }}" method="post">
                            <button class="noStyle" onClick="return confirm('Wirklich löschen?')">
                                <div class="icon delete"></div>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
