{% extends 'WhereGroupMetadorBundle:Design:withoutMenu.html.twig' %}

{% block content %}
    <div style="font-size: 12px;">
        <div style="float:left;">
            <form method="get" action="{{ path('search_index') }}">
                <label for="search_find">Suche:</label>
                <input type="text" id="search_find" name="find" value="" />
                <button>ok</button>
            </form>
        </div>
        <div style="float:right;">
            <a href="{{ path('import_index') }}">Import</a>
        </div>
        <div style="clear:both;" />
    </div>
    <hr/>

    <div class="preview">
        <div class="head">
            <a href="{{ path('wheregroup_metador_data_index') }}">Daten</a>
            <a href="{{ path('wheregroup_metador_data_new') }}" style="float:right;"><div class="icon add"></div></a>
        </div>
        <div class="body">
            <table class="preview-table">
                {% for row in dataset %}
                <tr>
                    <td>
                        <a href="{{ path('wheregroup_metador_data_edit', {'id':row.id}) }}">{{ row.title ? row.title : 'noname' }}</a>
                    </td>
                    <td class="last-1">
{% if row.readonly == 0 %}
                        <form action="{{ path('wheregroup_metador_data_delete', {'id':row.id}) }}" method="post">
                            <button class="noStyle" onClick="return confirm('Wirklich löschen?')">
                                <div class="icon delete"></div>
                            </button>
                        </form>
{% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="preview">
        <div class="head">
            <a href="{{ path('wheregroup_metador_service_index') }}">Dienste</a>
            <a href="{{ path('wheregroup_metador_service_new') }}" style="float:right;"><div class="icon add"></div></a>
        </div>
        <div class="body">
            <table class="preview-table">
                {% for row in service %}
                <tr>
                    <td>
                        <a href="{{ path('wheregroup_metador_service_edit', {'id':row.id}) }}">{{ row.title ? row.title : 'noname' }}</a>
                    </td>
                    <td class="last-1">
{% if row.readonly == 0 %}
                        <form action="{{ path('wheregroup_metador_service_delete', {'id':row.id}) }}" method="post">
                            <button class="noStyle" onClick="return confirm('Wirklich löschen?')">
                                <div class="icon delete"></div>
                            </button>
                        </form>
{% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="preview">
        <div class="head">Adressen</div>
        <div class="body">
            <table class="preview-table">
                {% for row in address %}
                <tr>
                    <td>{{ row.individualName ? row.individualName : 'noname' }}</td>
                    <td class="last-1">
                        <form action="{{ path('wheregroup_metador_default_addressdelete', {'id':row.id}) }}" method="post">
                            <button class="noStyle" onClick="return confirm('Wirklich löschen?')">
                                <div class="icon delete"></div>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
