<div class="head">
    <a href="{{ path('metadata_index', {'profile': profile}) }}">
        {{ title|trans }}
    </a>
    <a href="{{ path('metadata_new', {'profile': profile}) }}" style="float:right;">
        <div class="icon-plus"></div>
    </a>
</div>
<div class="body">
    <table class="preview-table">
        {% for row in rows %}
        <tr>
            <td>
                <a href="{{ path('metadata_edit', {'profile': profile, 'id':row.id}) }}">{{ row.title ? row.title : 'noname' }}</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
