{% extends 'MetadorThemeBundle:Theme:template.html.twig' %}

{% block center %}
    <div class="center menu">
        <div class="center-left">
            <ul class="left-menu">
                {% for item in applicationGet('app-admin-menu') %}
                    {# RAW CONTENT #}
                    {% if item.raw is defined %}
                        {{ item.raw|raw }}

                        {# INCLUDE CONTENT #}
                    {% elseif item.template is defined %}
                        {% include item.template %}

                        {# USE TEMPLATE #}
                    {% else %}
                        <li class="{% if item.active is defined and item.active %}act{% endif %}">
                            <a href="{{ path(item.path, item.params) }}"{% if item.target is defined and item.target %} target="{{ item.target }}"{% endif %}>
                                {% if item.icon is defined %}
                                    <span class="{{ item.icon }}"></span>
                                {% endif %}
                                {{ item.label|trans }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="center-right">
            {% include 'MetadorThemeBundle:Theme:notify.html.twig' %}
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
