{% extends 'MetadorThemeBundle:Admin:template.html.twig' %}

{% block title %}Auswahlliste bearbeiten{% endblock %}

{# CONTENT #}
{% block content %}
    <div class="grid content-title">
        <div class="row r-2">
            <div class="col c-1-2">
                <h1 class="title dm">Auswahlliste bearbeiten</h1>
            </div>
            <div class="col c-1-2 text-right">
                <a href="{{ path('metador_admin_lists') }}" class="btn medium">
                    <span class="icon-sign-out"></span> {% trans %}Übersicht{% endtrans %}
                </a>
            </div>
        </div>
    </div>

    <hr class="line-separator" />

    <div class="grid space responsive">
        <form action="{{ path('metador_admin_lists_add', { 'profile': listProfile, 'key': listKey }) }}" method="post">
            <div class="row r-2 margin-b">
                <div class="col c-1-2">
                    <div><label class="form-label">Wert:</label></div>
                    <div class="form-field-wrapper">
                        <textarea class="textarea" name="new_list_item_key" placeholder="..."></textarea>
                    </div>
                </div>
                <div class="col c-1-2">
                    <div><label class="form-label">Beschreibung:</label></div>
                    <div class="form-field-wrapper">
                        <textarea class="textarea" name="new_list_item_value" placeholder="..."></textarea>
                    </div>
                </div>
            </div>
            <div class="row r-1">
                <div class="col c-1 text-right">
                    <button class="btn success medium">
                        <span class="icon-checkmark"></span> hinzufügen
                    </button>
                </div>
            </div>
            <hr class="line-separator" />
        </form>
        <form action="{{ path('metador_admin_lists_update', { 'profile': listProfile, 'key': listKey }) }}" method="post">
        {% for key, value in list %}
            <div class="row r-2">
                <div class="col c-1-2">
                    <div><label class="form-label">Wert:</label></div>
                    <div class="form-field-wrapper i1">
                        <textarea class="textarea" name="item[{{ loop.index }}][key]" placeholder="...">{{ key }}</textarea>
                    </div>
                </div>
                <div class="col c-1-2">
                    <div><label class="form-label">Beschreibung:</label></div>
                    <div class="form-field-wrapper">
                        <textarea class="textarea" name="item[{{ loop.index }}][value]" placeholder="...">{{ value }}</textarea>
                    </div>
                </div>
            </div>
            <div class="row r-1">
                <div class="col c-1 text-right">
                    <input type="checkbox" name="item[{{ loop.index }}][delete]" value="1" /> löschen
                </div>
            </div>
            <hr class="line-separator" />
        {% endfor %}
            <div class="row r-1">
                <div class="col c-1 text-right">
                    <button class="btn success medium">
                        <span class="icon-checkmark"></span> speichern
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
