<h1>{% trans %}Klassifizierung{% endtrans %}</h1>
{#
    SERVICE TYPE
#}
{% set id = 'p[serviceType]' %}
{% set val = p['serviceType'] is defined ? p['serviceType'] : '' %}

<div class="oneColBox">
    <label>
        <div class="icon mandatory icon-circle"></div>{{'Geodatendienst'|trans}}:
    </label>
    <select name="{{ id }}" class="oneCol1">
        <option value="" {{ md_select(val, '') }}></option>
        <option value="view" {{ md_select(val, 'view') }}>
            {% trans %}Darstellungsdienste{% endtrans %}
        </option>
        <option value="invoke" {{ md_select(val, 'invoke') }}>
            {% trans %}Dienste zum Abrufen von Geodatendiensten{% endtrans %}
        </option>
        <option value="download" {{ md_select(val, 'download') }}>
            {% trans %}Download-Dienste{% endtrans %}
        </option>
        <option value="other" {{ md_select(val, 'other') }}>
            {% trans %}Sonstige Dienste{% endtrans %}
        </option>
        <option value="discovery" {{ md_select(val, 'discovery') }}>
            {% trans %}Suchdienste{% endtrans %}
        </option>
        <option value="transformation" {{ md_select(val, 'transformation') }}>
            {% trans %}Transformationsdienste{% endtrans %}
        </option>
    </select>
    <div class="btn-group">
        <div class="last showHelp"  {{ id|md_data_obj }}>
            <div class="icon icon-question"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>


{#
    SERVICE TYPE VERSION
#}
{% set id = 'p[serviceTypeVersion][]' %}
{#
<div class="oneColBox">
    <label>
        <div class="icon mandatory icon-circle"></div>{{'Version'|trans}}:
    </label>
    <input name="{{ id }}" id="{{ id|md_id }}" type="text" value="{{ val }}" class="oneCol1"/>
    <div class="btn-group">
        <div class="last showHelp"  {{ id|md_data_obj }}>
            <div class="icon icon-question"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>#}
<div class="twoColBox">
    <label class="displayLeft">
        <div class="icon mandatory icon-circle"></div>{{'Version'|trans}}:
    </label>
    <div class="clear"></div>
    <div class="left">
        <label for="{{ id|md_id }}_a">
            <div class="icon"></div>{{'Freitext'|trans}}:
        </label>
        <input type="text" name="serviceTypeVersion_a" id="source_{{ id|md_id }}" class="twoCol2  no-value" />
        <div class="btn-group">
            <div class="cmdAddSingleValue" data-obj-id="{{ id|md_id }}" data-name="{{ id }}"><div class="icon icon-plus"></div></div>
            <div class="last showHelp"  data-obj-id="{{ id|md_id }}_a">
                <div class="icon icon-question"></div>
            </div>
        </div>
    </div>

    <div class="right">
        <label for="{{ id|md_id }}_b">
            <div class="icon"></div>{{'Auswahl'|trans}}:
        </label>
        <div class="fr">
            <div class="btn-group">
                <div class="last showHelp"  data-obj-id="{{ id|md_id }}_b">
                    <div class="icon icon-question"></div>
                </div>
            </div>
            <select name="serviceTypeVersion_b" id="{{ id|md_id }}_b" class="twoCol1  no-value">
                <option value=""></option>
                <option value="OGC:CSW 2.0.2">OGC:CSW 2.0.2</option>
                <option value="OGC:WMS 1.3.0">OGC:WMS 1.3.0</option>
                <option value="OGC:WMTS 1.0.0">OGC:WMTS 1.0.0</option>
                <option value="OGC:WMS 1.1.1">OGC:WMS 1.1.1</option>
                <option value="OGC:WFS 2.0">OGC:WFS 2.0</option>
                <option value="OGC:WFS 1.1">OGC:WFS 1.1</option>
                <option value="OGC:WCS 2.0">OGC:WCS 2.0</option>
                <option value="predefined ATOM">predefined ATOM</option>
                <option value="OGC:WFS-G 0.9.3">OGC:WFS-G 0.9.3</option>
                <option value="OGC:WPS 1.0">OGC:WPS 1.0</option>
                <option value="OGC:OpenLS 1.2">OGC:OpenLS 1.2</option>
                <option value="OGC:SWE 2.0">OGC:SWE 2.0</option>
                <option value="OGC:SOS 2.0.0">OGC:SOS 2.0.0</option>
                <option value="OGC:SOS 1.0.0">OGC:SOS 1.0.0</option>
                <option value="OGC:SPS 2.0.0">OGC:SPS 2.0.0</option>
            </select>
        </div>
    </div>

    <div class="clear"></div>

    <div class="singleResult" id="result_{{ id|md_id }}">
        {% if p['serviceTypeVersion'] is defined %}
        {% for value in p['serviceTypeVersion'] %}
        <div>
            <input type="hidden" name="{{ id }}" value="{{ value }}" />
            <label>{{ value }}</label>
            <div class="btn cmdDeleteSingleValue">
                <div class="icon icon-bin2"></div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <div class="clear"></div>
    </div>
</div>

{#
    CONTAINS OPERATIONS
#}
<h2>{% trans %}Dienste Operationen{% endtrans %}</h2>
<div class="twoColBox">

    {% set id = 'p[containsOperationsName]' %}
    {% set val = p['containsOperationsName'] is defined ? p['containsOperationsName'] : 'GetCapabilities' %}

    <div class="left">
        <label>
            <div class="icon mandatory icon-circle"></div>{{'Operation'|trans}}:
        </label>
        <input name="{{ id }}" id="{{ id|md_id }}" type="text" value="{{ val }}" class="twoCol1"/>
        <div class="btn-group">
            <div class="last showHelp" {{ id|md_data_obj }}>
                <div class="icon icon-question"></div>
            </div>
        </div>
    </div>
    <div class="right">

        {% set id = 'p[containsOperationsDCP]' %}
        {% set val = p['containsOperationsDCP'] is defined ? p['containsOperationsDCP'] : 'WebService' %}

        <label>
            <div class="icon mandatory icon-circle"></div>{{'Platform'|trans}}:
        </label>
        <div class="fr">
            <div class="btn-group">
                <div class="last showHelp" {{ id|md_data_obj }}>
                    <div class="icon icon-question"></div>
                </div>
            </div>
            <input name="{{ id }}" id="{{ id|md_id }}" type="text" value="{{ val }}" class="twoCol1"/>
        </div>
    </div>
    <div class="clear"></div>
</div>

{% set id = 'p[containsOperationsURL]' %}
{% set val = p['containsOperationsURL'] is defined ? p['containsOperationsURL'] : '' %}

<div class="oneColBox">
    <label for="{{ id|md_id }}">
        <div class="icon mandatory icon-circle"></div>{{'URL'|trans}}:
    </label>
    <input name="{{ id }}" id="{{ id|md_id }}" type="text" value="{{ val }}" class="oneCol1"/>
    <div class="btn-group">
        <div class="last showHelp" {{ id|md_data_obj }}><div class="icon icon-question"></div></div>
    </div>
    <div class="clear"></div>
</div>

