<h1>{% trans %}Übereinstimmung{% endtrans %}</h1>

{#
    DATA QUALITY
#}
{% set id = 'p[dataquality]' %}

{% if p['dataquality'] is not defined %}
    {% set p = p|merge({'dataquality': [{'title':'','date':'','type':'','result':''}]}) %}
{% endif %}
{% set length = p['dataquality']|length -1 %}

<div class="duplicatable" data-count="{{ length }}">
    <ul>
        {% for key,value in p['dataquality'] %}
        <li data-id="{{ key }}" class="tab {% if key == 0 %}act{% endif %}">{{ key }}</li>
        {% endfor %}
        <li class="duplicate"><div class="icon icon-plus"></div></li>
        <li class="menu delete"><div class="icon icon-bin2"></div></li>
        <li class="menu showHelp" {{ id|md_data_obj }}><div class="icon icon-question"></div></li>
        <li class="menu" id="wizard_p_dataquality"><div class="icon icon-magic-wand"></div></li>
    </ul>
    <div class="content">
        {% for key,value in p['dataquality'] %}

        <div class="nr{{ key }} {% if key == 0 %}act{% endif %}">
            {% set id = 'p[dataquality][' ~ key ~ '][title]' %}
            {% set val = value['title'] is defined ? value['title'] : '' %}

            <div class="oneColBox">
                <label class="displayLeft">
                    <div class="icon optional icon-circle"></div>{{'Titel'|trans}}:
                </label>
                <textarea name="{{ id }}" class="oneCol0">{{ val }}</textarea>
                <div class="clear"></div>
            </div>

            <div class="threeColBox">
                {% set id = 'p[dataquality][' ~ key ~ '][date]' %}
                {% set val = value['date'] is defined ? value['date'] : '' %}

                <div class="left">
                    <label>
                        <div class="icon conditional icon-circle"></div>{{'Datum'|trans}}:
                    </label>
                    <input name="{{ id }}" {{ id|md_id }} type="text" value="{{ val }}" class="threeCol1 datepicker"/>
                    <div class="btn-group">
                        <div class="last showHelp" {{ id|md_data_obj }}>
                            <div class="icon icon-question"></div>
                        </div>
                    </div>
                </div>

                {% set id = 'p[dataquality][' ~ key ~ '][type]' %}
                {% set val = value['type'] is defined ? value['type'] : '' %}

                <div class="center">
                    <label>
                        <div class="icon conditional icon-circle"></div>{{'Datum der'|trans}}:
                    </label>
                    <select name="{{ id }}" class="threeCol1">
                        <option value="" {{ md_select(val, '') }}></option>
                        <option value="creation" {{ md_select(val, 'creation') }}>
                            {% trans %}Erstellungsdatum{% endtrans %}
                        </option>
                        <option value="revision" {{ md_select(val, 'revision') }}>
                            {% trans %}Überarbeitung{% endtrans %}
                        </option>
                        <option value="publication" {{ md_select(val, 'publication') }}>
                            {% trans %}Veröffentlichung{% endtrans %}
                        </option>
                    </select>
                    <div class="btn-group">
                        <div class="last showHelp" {{ id|md_data_obj }}>
                            <div class="icon icon-question"></div>
                        </div>
                    </div>
                </div>

                {% set id = 'p[dataquality][' ~ key ~ '][result]' %}
                {% set val = value['result'] is defined ? value['result'] : '' %}

                <div class="right">
                    <label>
                        <div class="icon conditional icon-circle"></div>{{'Grad'|trans}}:
                    </label>
                    <div class="fr">
                        <div class="btn-group">
                            <div class="last showHelp" {{ id|md_data_obj }}>
                                <div class="icon icon-question"></div>
                            </div>
                        </div>
                        <select name="{{ id }}" class="threeCol1">
                            <option value="" {{ md_select(val, '') }}>
                                {% trans %}Nicht überprüft{% endtrans %}
                            </option>
                            <option value="false" {{ md_select(val, 'false') }}>
                                {% trans %}Nicht Konform{% endtrans %}
                            </option>
                            <option value="true" {{ md_select(val, 'true') }}>
                                {% trans %}Konform{% endtrans %}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% set id = 'p[dataquality]' %}

<div id="wizard_values_{{ id|md_id }}" class="hidden">
    {% for key,value in examples['conformity'] %}
    <p class="wizard-content-value"
        data-date="{{ value.date }}"
        data-type="{{ value.type }}"
        data-result="{{ value.result }}">{{ key }}</p>
    {% endfor %}
</div>

