<h1>{% trans %}Beschränkungen{% endtrans %}</h1>

{#
    USE LIMITATION
#}
{% set id = 'p[uselimitation][]' %}
<div class="oneColBox">
    <label>
        <div class="icon mandatory icon-circle"></div>{{'Nutzungseinschränkungen'|trans}}:
    </label>
    <textarea id="source_{{ id|md_id }}" data-prefix="" class="oneCol2 no-value"></textarea>
    <div class="btn-group">
        <div class="cmdAddSingleValue" data-obj-id="{{ id|md_id }}" data-name="{{ id }}"><div class="icon icon-plus"></div></div>
        <div class="last showHelp"  data-obj-id="{{ id|md_id }}">
            <div class="icon icon-question"></div>
        </div>
    </div>
    <div class="clear"></div>
        <div class="singleResult" id="result_{{ id|md_id }}">
        {% if p['uselimitation'] is defined %}
        {% for value in p['uselimitation'] %}
        <div>
            <input type="hidden" name="{{ id }}" value="{{ value }}" />
            <label>{{ value }}</label>
            <div class="btn cmdDeleteSingleValue">
                <div class="icon icon-bin2"></div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <div class="clear"></div>
    </div>
</div>

{#
    USE CONSTRAINTS
#}

{% set id = 'p[useconstraints]' %}

{% if p['useconstraints'] is not defined %}
    {% set p = p|merge({'useconstraints': [{'useconstraints':'','otherconstraints':''}]}) %}
{% endif %}

{% set length = p['useconstraints']|length -1 %}

<h2>{% trans %}Nutzungsbedingungen{% endtrans %}</h2>

<div class="duplicatable" data-count="{{ length }}">
    <ul>
        {% for key, value in p['useconstraints'] %}
            <li data-id="{{ key }}" class="tab {% if key == 0 %}act{% endif %}">{{ key }}</li>
        {% endfor %}
        <li class="duplicate"><div class="icon icon-plus"></div></li>
        <li class="menu delete"><div class="icon icon-bin2"></div></li>
        <li class="menu showHelp" {{ id|md_data_obj }}><div class="icon icon-question"></div></li>
    </ul>
    <div class="content">
        {% for key, value in p['useconstraints'] %}
            <div class="nr{{ key }} {% if key == 0 %}act{% endif %}">
                <div class="oneColBox">
                    {% set id = 'p[useconstraints][' ~ key ~ '][useconstraints]' %}
                    {% set val = value['useconstraints'] is defined ? value['useconstraints'] : '' %}

                    <label for="{{ id|md_id }}">
                        <div class="icon mandatory icon-circle"></div>{{'Auswahl'|trans}}:
                    </label>

                    <select name="{{ id }}" id="{{ id|md_id }}" class="oneCol1">
                        <option {{ md_select(val, '') }} value=""></option>
                        <option {{ md_select(val, 'copyright') }} value="copyright">copyright</option>
                        <option {{ md_select(val, 'patent') }} value="patent">patent</option>
                        <option {{ md_select(val, 'patentPending') }} value="patentPending">patentPending</option>
                        <option {{ md_select(val, 'trademark') }} value="trademark">trademark</option>
                        <option {{ md_select(val, 'license') }} value="license">license</option>
                        <option {{ md_select(val, 'intellectualPropertyRights') }} value="intellectualPropertyRights">intellectualPropertyRights</option>
                        <option {{ md_select(val, 'restricted') }} value="restricted">restricted</option>
                    </select>

                    <div class="btn-group">
                        <div class="last showHelp" {{ id|md_data_obj }}><div class="icon icon-question"></div></div>
                    </div>

                    <div class="clear"></div>
                </div>

                <div class="oneColBox">
                    {% set id = 'p[useconstraints][' ~ key ~ '][otherconstraints]' %}
                    {% set val = value['useconstraints'] is defined ? value['otherconstraints'] : '' %}

                    <label class="displayLeft" for="{{ id|md_id }}">
                        <div class="icon optional icon-circle"></div>{{'Freitext'|trans}}:
                    </label>

                    <div class="btn-group displayRight">
                        <div class="single showHelp" {{ id|md_data_obj }}><div class="icon icon-question"></div></div>
                    </div>

                    <textarea name="{{ id }}" id="{{ id|md_id }}" class="oneCol0">{{ val }}</textarea>

                    <div class="clear"></div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{#
    ACCESS CONSTRAINTS
#}

{% set id = 'p[accessConstraints]' %}

{% if p['accessConstraints'] is not defined %}
    {% set p = p|merge({'accessConstraints': [{'accessConstraints':'','otherconstraints':''}]}) %}
{% endif %}

{% set length = p['accessConstraints']|length -1 %}

<h2>{% trans %}Zugriffseinschränkungen{% endtrans %}</h2>

<div class="duplicatable" data-count="{{ length }}">
    <ul>
        {% for key, value in p['accessConstraints'] %}
            <li data-id="{{ key }}" class="tab {% if key == 0 %}act{% endif %}">{{ key }}</li>
        {% endfor %}
        <li class="duplicate"><div class="icon icon-plus"></div></li>
        <li class="menu delete"><div class="icon icon-bin2"></div></li>
        <li class="menu showHelp" {{ id|md_data_obj }}><div class="icon icon-question"></div></li>
    </ul>
    <div class="content">
        {% for key, value in p['accessConstraints'] %}
            <div class="nr{{ key }} {% if key == 0 %}act{% endif %}">
                <div class="oneColBox">
                    {% set id = 'p[accessConstraints][' ~ key ~ '][accessConstraints]' %}
                    {% set val = value['accessConstraints'] is defined ? value['accessConstraints'] : '' %}

                    <label for="{{ id|md_id }}">
                        <div class="icon mandatory icon-circle"></div>{{'Auswahl'|trans}}:
                    </label>

                    <select name="{{ id }}" id="{{ id|md_id }}" class="oneCol1">
                        <option {{ md_select(val, '') }} value=""></option>
                        <option {{ md_select(val, 'copyright') }} value="copyright">copyright</option>
                        <option {{ md_select(val, 'patent') }} value="patent">patent</option>
                        <option {{ md_select(val, 'patentPending') }} value="patentPending">patentPending</option>
                        <option {{ md_select(val, 'trademark') }} value="trademark">trademark</option>
                        <option {{ md_select(val, 'license') }} value="license">license</option>
                        <option {{ md_select(val, 'intellectualPropertyRights') }} value="intellectualPropertyRights">intellectualPropertyRights</option>
                        <option {{ md_select(val, 'restricted') }} value="restricted">restricted</option>
                    </select>

                    <div class="btn-group">
                        <div class="last showHelp" {{ id|md_data_obj }}><div class="icon icon-question"></div></div>
                    </div>

                    <div class="clear"></div>
                </div>

                <div class="oneColBox">
                    {% set id = 'p[accessConstraints][' ~ key ~ '][otherconstraints]' %}
                    {% set val = value['accessConstraints'] is defined ? value['otherconstraints'] : '' %}

                    <label class="displayLeft" for="{{ id|md_id }}">
                        <div class="icon optional icon-circle"></div>{{'Freitext'|trans}}:
                    </label>

                    <div class="btn-group displayRight">
                        <div class="single showHelp" {{ id|md_data_obj }}><div class="icon icon-question"></div></div>
                    </div>

                    <textarea name="{{ id }}" id="{{ id|md_id }}" class="oneCol0">{{ val }}</textarea>

                    <div class="clear"></div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
