{% extends '::base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/wheregroupmetador/css/screen.css') }}">
{% endblock %}

{% block body %}
<div class="loginPage">
    <div class="loginDialog">
        {% if error %}
            <div>{{ error.message }}</div>
        {% endif %}

        <span class="version">Version: {{ version }}</span>
        <h1>MeTaDor</h1>
        <hr/>
        <form action="{{ path('login_check') }}" method="post" class="loginForm">
            <label for="username">Benutzer:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
            <br/>
            <label for="password">Kennwort:</label>
            <input type="password" id="password" name="_password" />
            <input type="hidden" name="_target_path" value="/" />
            <br/><br/>
            <input type="submit" name="login" value="login" />
        </form>
    </div>
</div>
{% endblock %}