{% extends '::base.html.twig' %}

{% block title %}MeTaDor 2{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/wheregroupmetador/css/screen.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/wheregroupmetador/css/datepicker/zebra_datepicker_metallic.css') }}">
{% endblock %}

{% block body %}

<div class="page">
    <div class="top">
        <a href="{{ path('wheregroup_metador_default_index') }}">
            <img src="{{ asset(conf['logo']) }}" class="logo" />
        </a>
        <span class="version">{{ app.user.username }} / {{ version }}</span>
        <div class="globalMenu">
            {% block globalMenu %}
                {% include 'WhereGroupMetadorBundle:Design:globalMenu.html.twig' %}
            {% endblock %}
        </div>
        <div class="contentMenu">
            {% block contentMenu %}
            {% endblock %}
        </div>
    </div>
    <div class="center">
        {% block center %}
        {% endblock %}
    </div>
</div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/wheregroupmetador/js/metador.js') }}"></script>
    <script src="{{ asset('bundles/wheregroupmetador/js/ui.js') }}"></script>
    <script src="{{ asset('bundles/wheregroupmetador/js/datepicker/zebra_datepicker.js') }}"></script>
{% endblock %}