<h1>Bääm</h1>

{#
    FIRST START
#}
{% set id = 'p[first]' %}

{% if p['first'] is not defined %}
    {% set p = p|merge({'first': [{'name':''}]}) %}
{% endif %}

{% set length = p['first']|length -1 %}

<h2>First</h2>
<div class="duplicatable" data-count="{{ length }}" data-level="0">
    <ul>
        {% for key, value in p['first'] %}
        <li data-id="{{ key }}" class="tab {% if key == 0 %}act{% endif %}">{{ key }}</li>
        {% endfor %}
        <li class="duplicate"><div class="icon add"></div></li>
        <li class="menu delete"><div class="icon delete"></div></li>
        <li class="menu showHelp" {{ id|md_data_obj }}><div class="icon help"></div></li>
    </ul>
    <div class="content">
        {% for key, value in p['first'] %}
        <div class="nr{{ key }} {% if key == 0 %}act{% endif %}">

            {# NAME #}
            <div class="oneColBox">

                {% set id = 'p[first][' ~ key ~ '][name]' %}
                {% set val = value['name'] %}

                <label>
                    <div class="icon mandatory"></div>{{'Name'|trans}}:
                </label>
                <input name="{{ id }}" type="text" value="{{ val }}" class="oneCol1"/>
                <div class="btn-group">
                    <div class="last showHelp" {{ id|md_data_obj }}><div class="icon help"></div></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>

            {#
                SECOND START
            #}
            {% set id = 'p[first][' ~ key ~ '][second]' %}

            {% if p['first'][key]['second'] is not defined %}
                {% set p = p|merge({'first': [{'second': [{'name':''}]}]}) %}
            {% endif %}

            {% set length = p['first'][key]['second']|length -1 %}

            <h2>Second</h2>

            <div class="duplicatable" data-count="{{ length }}" data-level="1">
                <ul>
                    {% for keySub1, valueSub1 in p['first'][key]['second'] %}
                    <li data-id="{{ keySub1 }}" class="tab {% if keySub1 == 0 %}act{% endif %}">{{ keySub1 }}</li>
                    {% endfor %}
                    <li class="duplicate"><div class="icon add"></div></li>
                    <li class="menu delete"><div class="icon delete"></div></li>
                    <li class="menu showHelp" {{ id|md_data_obj }}><div class="icon help"></div></li>
                </ul>
                <div class="content">
                    {% for keySub1, valueSub1 in p['first'][key]['second'] %}
                    <div class="nr{{ keySub1 }} {% if keySub1 == 0 %}act{% endif %}">

                        {# NAME #}
                        <div class="oneColBox">

                            {% set id = 'p[first][' ~ key ~ '][second][' ~ keySub1 ~ '][name]' %}
                            {% set val = valueSub1['name'] %}

                            <label>
                                <div class="icon mandatory"></div>{{'Name'|trans}}:
                            </label>
                            <input name="{{ id }}" type="text" value="{{ val }}" class="oneCol1"/>
                            <div class="btn-group">
                                <div class="last showHelp" {{ id|md_data_obj }}><div class="icon help"></div></div>
                            </div>

                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>

                    {% endfor %}
                </div>
            </div>
            {#
                SECOND END
            #}
        </div>
        {% endfor %}
    </div>
</div>
{#
    FIRST END
#}
