<h1>{% trans %}Beschränkungen{% endtrans %}</h1>

{#
    USE LIMITATION
#}
{% set id = 'p[uselimitation][]' %}
<div class="oneColBox">
    <label>
        <div class="icon mandatory icon-circle"></div>{{'Nutzungseinschränkungen'|trans}}:
    </label>
    <textarea id="source_{{ id|md_id }}" data-prefix="{{'Nutzungseinschränkungen'|trans}}: " class="oneCol2 no-value"></textarea>
    <div class="btn-group">
        <div class="cmdAddSingleValue" data-obj-id="{{ id|md_id }}" data-name="{{ id }}"><div class="icon icon-plus"></div></div>
        <div class="last showHelp"  data-obj-id="{{ id|md_id }}">
            <div class="icon icon-question"></div>
        </div>
    </div>
    <div class="clear"></div>
        <div class="singleResult" id="result_{{ id|md_id }}">
        {% if p['uselimitation'] is defined %}
        {% for value in p['uselimitation'] %}
        <div>
            <input type="hidden" name="{{ id }}" value="{{ value }}" />
            <label>{{ value }}</label>
            <div class="btn cmdDeleteSingleValue">
                <div class="icon icon-bin2"></div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <div class="clear"></div>
    </div>
</div>
        
{#
    USE CONSTRAINTS
#}
{% set id = 'p[useconstraints][]' %}
<div class="oneColBox">
    <label class="displayLeft">
        <div class="icon mandatory icon-circle"></div>{{'Nutzungsbedingungen'|trans}}:
    </label>
    <div class="clear"></div>
    <label for="{{ id|md_id }}_b">
        {{'Auswahl'|trans}}:
    </label>
    <select name="useconstraints_b" id="{{ id|md_id }}_b" class="oneCol1  no-value">
        <option value=""></option>
        <option value="copyright">copyright</option>
        <option value="patent">patent</option>
        <option value="trademark">trademark</option>
        <option value="license">license</option>
        <option value="intellectualPropertyRights">intellectualPropertyRights</option>
        <option value="restricted">restricted</option>
        <option value="otherRestrictions">otherRestrictions</option>
    </select>
    <div class="btn-group">
        <div class="last showHelp"  data-obj-id="{{ id|md_id }}_b">
            <div class="icon icon-question"></div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="singleResult" id="result_{{ id|md_id }}">
        {% if p['useconstraints'] is defined %}
        {% for value in p['useconstraints'] %}
        <div>
            <input type="hidden" name="{{ id }}" value="{{ value }}" />
            <label>{{ value }}</label>
            <div class="btn cmdDeleteSingleValue">
                <div class="icon icon-bin2"></div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>

{#
    OTHER CCONSTRAINTS
#}
{% set id = 'p[otherconstraints][]' %}
<div class="oneColBox">
    <label for="{{ id|md_id }}_b">
        {{'Freitext'|trans}}:
    </label>
    <textarea id="source_{{ id|md_id }}" data-prefix="{{'Nutzungsbedingungen'|trans}}: " class="oneCol2 no-value"></textarea>
    <div class="btn-group">
        <div class="cmdAddSingleValue" data-obj-id="{{ id|md_id }}" data-name="{{ id }}"><div class="icon icon-plus"></div></div>
        <div class="last showHelp"  data-obj-id="{{ id|md_id }}_a">
            <div class="icon icon-question"></div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="singleResult" id="result_{{ id|md_id }}">
        {% if p['otherconstraints'] is defined %}
        {% for value in p['otherconstraints'] %}
        <div>
            <input type="hidden" name="{{ id }}" value="{{ value }}" />
            <label>{{ value }}</label>
            <div class="btn cmdDeleteSingleValue">
                <div class="icon icon-bin2"></div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <div class="clear"></div>
    </div>
</div>