<h1>{% trans %}Identifizierung{% endtrans %}</h1>

{#
    IDENTIFIER
#}
{% set id = 'p[identifier]' %}

{% if p['identifier'] is not defined %}
    {% set p = p|merge({'identifier': [{'code':'','codespace':''}]}) %}
{% endif %}
{% set length = p['identifier']|length -1 %}

<h2>{% trans %}Bezeichner{% endtrans %}</h2>
<div id="{{ id|md_id }}" class="duplicatable" data-count="{{ length }}">
    <ul>
        {% for key,value in p['identifier'] %}
        <li data-id="{{ key }}" class="tab {% if key == 0 %}act{% endif %}">{{ key }}</li>
        {% endfor %}
        <li class="duplicate"><div class="icon icon-plus"></div></li>
        <li class="menu delete"><div class="icon icon-bin2"></div></li>
        <li class="menu showHelp" {{ id|md_data_obj }}><div class="icon icon-question"></div></li>
    </ul>
    <div class="content">
        {% for key,value in p['identifier'] %}

        <div class="nr{{ key }} {% if key == 0 %}act{% endif %}">
            <div class="twoColBox">
                {% set id = 'p[identifier][' ~ key ~ '][code]' %}
                {% set val = value['code'] is defined ? value['code'] : '' %}

                <div class="left">
                    <label for="{{ id|md_id }}">
                        <div class="icon mandatory icon-circle"></div>{{'Code'|trans}}:
                    </label>
                    <input name="{{ id }}" id="{{ id|md_id }}" type="text" value="{{ val }}"  class="twoCol2"/>
                    <div class="btn-group">
                        <div class="wizard_p_identifiercode" data-obj-id="{{ id|md_id }}"><div class="icon icon-magic-wand"></div></div>
                        <div class="last showHelp" {{ id|md_data_obj }}><div class="icon icon-question"></div></div>
                    </div>
                </div>

                {% set id = 'p[identifier][' ~ key ~ '][codespace]' %}
                {% set val = value['codespace'] is defined ? value['codespace'] : '' %}

                <div class="right">
                    <label for="{{ id|md_id }}">
                        <div class="icon optional icon-circle"></div>{{'Namensraum'|trans}}:
                    </label>
                    <div class="fr">
                        <div class="btn-group">
                            <div class="last showHelp" {{ id|md_data_obj }}><div class="icon icon-question"></div></div>
                        </div>
                        <input name="{{ id }}" id="{{ id|md_id }}" type="text" value="{{ val }}"  class="twoCol1"/>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{#
    TITLE
#}
{% set id = 'p[title]' %}
{% set val = p['title'] is defined ? p['title'] : '' %}

<div class="oneColBox">
    <label for="{{ id|md_id }}">
        <div class="icon mandatory icon-circle"></div>{{'Titel'|trans}}:
    </label>
    <input name="{{ id }}" id="{{ id|md_id }}" type="text" value="{{ val }}" class="oneCol1"/>
    <div class="btn-group">
        <div class="last showHelp" {{ id|md_data_obj }}><div class="icon icon-question"></div></div>
    </div>
    <div class="clear"></div>
</div>

{#
    ATERNATE TITLE
#}
{% set id = 'p[alternateTitle]' %}
{% set val = p['alternateTitle'] is defined ? p['alternateTitle'] : '' %}

<div class="oneColBox">
    <label for="{{ id|md_id }}">
        <div class="icon optional icon-circle"></div>{{'Alternativtitel'|trans}}:
    </label>
    <input name="{{ id }}" id="{{ id|md_id }}" type="text" value="{{ val }}" class="oneCol1"/>
    <div class="btn-group">
        <div class="last showHelp" {{ id|md_data_obj }}><div class="icon icon-question"></div></div>
    </div>
    <div class="clear"></div>
</div>

{#
    ABSTRACT
#}
{% set id = 'p[abstract]' %}
{% set val = p['abstract'] is defined ? p['abstract'] : '' %}
<div class="oneColBox">
    <label class="displayLeft" for="{{ id|md_id }}">
        <div class="icon mandatory icon-circle"></div>{{'Kurzbeschreibung'|trans}}:
    </label>
    <div class="btn-group displayRight">
        <div class="single showHelp" {{ id|md_data_obj }}><div class="icon icon-question"></div></div>
    </div>
    <textarea name="{{ id }}" id="{{ id|md_id }}" class="oneCol0">{{ val }}</textarea>
    <div class="clear"></div>
</div>

{#
    ONLINE RESOURCE
#}
{% set id = 'p[onlineResource][]' %}

<div class="oneColBox">
    <label>
        <div class="icon mandatory icon-circle"></div>{{'Ressourcenverweis'|trans}}:
    </label>
    <input name="onlineResource" id="source_{{ id|md_obj_id }}" type="text" class="oneCol2 no-value" value="" />
    <div class="btn-group">
        <div class="cmdAddSingleValue" {{ id|md_data_obj }} data-name="{{ id }}">
            <div class="icon icon-plus"></div>
        </div>
        <div class="last showHelp" {{ id|md_data_obj }}><div class="icon icon-question"></div></div>
    </div>

    <div class="clear"></div>
    <div class="singleResult" id="result_{{ id|md_obj_id }}">
        {% if p['onlineResource'] is defined %}
        {% for value in p['onlineResource'] %}
        {% if value is not empty %}
        <div>
            <input type="hidden" name="{{ id }}" value="{{ value }}" />
            <label>{{ value }}</label>
            <div class="btn cmdDeleteSingleValue">
                <div class="icon icon-bin2"></div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="clear"></div>
    </div>
</div>

{#
    HIERARCHY LEVEL
#}
{% set id = 'p[hierarchyLevel]' %}
{% set val = p['hierarchyLevel'] is defined ? p['hierarchyLevel'] : 'dataset' %}

<div class="twoColBox">
    <div class="left">
        <label for="{{ id|md_id }}">
            <div class="icon mandatory icon-circle"></div>{{'Ressourcenart'|trans}}:
        </label>
        <select name="{{ id }}" id="{{ id|md_id }}" class="twoCol1">
            <option value="dataset" {{ md_select(val, 'dataset') }}>
                {% trans %}Geodatensatz{% endtrans %}
            </option>
            <option value="series" {{ md_select(val, 'series') }}>
                {% trans %}Geodatensatzreihe{% endtrans %}
            </option>
        </select>
        <div class="btn-group">
            <div class="last showHelp"  data-obj-id="{{ id|md_id }}_a">
                <div class="icon icon-question"></div>
            </div>
        </div>
    </div>

    {% set id = 'p[resourceLanguage][]' %}

    <div class="right">
        <label for="{{ id|md_id }}_b">
            <div class="icon mandatory icon-circle"></div>{{'Sprache der Ressource'|trans}}:
        </label>
        <div class="fr">
            <div class="btn-group">
                <div class="last showHelp"  data-obj-id="{{ id|md_id }}">
                    <div class="icon icon-question"></div>
                </div>
            </div>
        <select class="twoCol1 no-value" id="select_{{ id|md_id }}">
            <option value=""></option>
            <option value="ger">
                {% trans %}Deutsch{% endtrans %}
            </option>
            <option value="eng">
                {% trans %}Englisch{% endtrans %}
            </option>
        </select>
        </div>
    </div>

    <div class="clear"></div>

    <div class="singleResult" id="result_{{ id|md_id }}">
        {% if p['resourceLanguage'] is defined %}
        {% for value in p['resourceLanguage'] %}
        {% if value is not empty %}
        <div>
            <input type="hidden" name="{{ id }}" value="{{ value }}" />
            <label>{{ value }}</label>
            <div class="btn cmdDeleteSingleValue">
                <div class="icon icon-bin2"></div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="clear"></div>
    </div>
</div>

{#
    SPATIAL REPRESENTATION TYPE
#}
{% set id = 'p[spatialRepresentationType]' %}

<div class="oneColBox">
    <label for="{{ id|md_id }}">
        <div class="icon mandatory icon-circle"></div>{{'Darstellung geographischer Informationen'|trans}}:
    </label>
    <select name="{{ id }}" id="{{ id|md_id }}" class="oneCol1">
        <option value="vector" {{ md_select(val, 'vector') }}>
            {% trans %}Vektor{% endtrans %}
        </option>
        <option value="grid" {{ md_select(val, 'grid') }}>
            {% trans %}Raster{% endtrans %}
        </option>
    </select>
    <div class="btn-group">
        <div class="last showHelp" {{ id|md_data_obj }}><div class="icon icon-question"></div></div>
    </div>
    <div class="clear"></div>
</div>

{#
    REFERENCE SYSTEM INFO
#}
<h2>{% trans %}Koordinatenreferenzsystem{% endtrans %}</h2>
<div class="twoColBox">
    <div class="left"></div>
    <div class="right"></div>
    <div class="clear"></div>
    <div class="left">
        {% set id = 'p[referenceSystemInfo][code]' %}
        <label>
            <div class="icon mandatory icon-circle"></div>{{'Referenzsystem-Code'|trans}}:
        </label>
        <input id="{{ id|md_obj_id }}" type="text" value="" class="twoCol1 no-value" data-element="map-wlong"/>
        <div class="btn-group">
            <div class="last showHelp" {{ id|md_data_obj }}>
                <div class="icon icon-question"></div>
            </div>
        </div>
    </div>
    <div class="right">
        {% set id = 'p[referenceSystemInfo][codespace]' %}
        <label>
            <div class="icon mandatory icon-circle"></div>{{'Codespace'|trans}}:
        </label>
        <div class="fr">
            <div class="btn-group">
                <div class="last showHelp" {{ id|md_data_obj }}>
                    <div class="icon icon-question"></div>
                </div>
            </div>
            <input id="{{ id|md_obj_id }}" type="text" value="" class="twoCol1 no-value" data-element="map-slat"/>
        </div>
    </div>
    <div class="clear"></div>

    <div class="left">
        {% set id = 'p[referenceSystemInfo][version]' %}
        <label>
            <div class="icon mandatory icon-circle"></div>{{'Version'|trans}}:
        </label>
        <input id="{{ id|md_obj_id }}" type="text" value="" class="twoCol1 no-value" data-element="map-elong"/>
        <div class="btn-group">
            <div class="last showHelp" {{ id|md_data_obj }}>
                <div class="icon icon-question"></div>
            </div>
        </div>
    </div>
    <div class="right"></div>
    <div class="clear"></div>

    {% set id = 'p[referenceSystemInfo]' %}
    <div class="fr" style="clear:right;">
        <div class="btn" id="add_{{ id|md_id }}"><div class="icon icon-plus"></div></div>
    </div>
    <div class="clear"></div>
    <hr/>

    {% if p['referenceSystemInfo'] is defined %}
        {% set length = p['referenceSystemInfo']|length %}
    {% else %}
        {% set length = 0 %}
    {% endif %}

    <div class="clear"></div>
        <table class="bbox-label">
        <tr>
            <td><label>{{'Ref.-Code'|trans}}</label></td>
            <td><label>{{'Codespace'|trans}}</label></td>
            <td><label>{{'Version'|trans}}</label></td>
        </tr>
    </table>
    <div class="singleResult" id="result_{{ id|md_id }}" data-count="{{ length }}">
        {% if p['referencesysteminfo'] is defined %}
        {% for key, value in p['referencesysteminfo'] %}
        <div data-cmd-map-show-bbox-hover="" data-cmd-zoom-to-bbox="" {#data-wlon="{{ value['wLongitude'] }}" data-slat="{{ value['sLatitude'] }}" data-elong="{{ value['eLongitude'] }}" data-nlat="{{ value['nLatitude'] }}"#}>
            <input type="hidden" name="p[referencesysteminfo][{{ key }}][code]" value="{{ value['code'] }}" />
            <input type="hidden" name="p[referencesysteminfo][{{ key }}][codespace]" value="{{ value['codespace'] }}" />
            <input type="hidden" name="p[referencesysteminfo][{{ key }}][version]" value="{{ value['version'] }}" />
            <table>
                <tr>
                    <td>{{ value['code'] }}</td>
                    <td>{{ value['codespace'] }}</td>
                    <td>{{ value['version'] }}</td>
                </tr>
            </table>
            <div class="btn cmdDeleteSingleValue">
                <div class="icon icon-bin2"></div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <div class="clear"></div>
    </div>
</div>
