<h1>{% trans %}Metadaten{% endtrans %}</h1>

{% if id is defined %}
    <input type="hidden" name="id" value="{{ id }}" />
{% endif %}

{# PROFILE #}
<input type="hidden" name="p[_profile]" value="profile-dataset" />

{# DATE STAMP #}
<input type="hidden" name="p[dateStamp]" value="{% if p['dateStamp'] is defined %}{{ p['dateStamp'] }}{% endif %}" />

{#
    FILE IDENTIFIER
#}
{% set id = 'p[fileIdentifier]' %}
{% set val = p['fileIdentifier'] is defined ? p['fileIdentifier'] : '' %}

<div class="oneColBox">
    <label for="{{ id|md_id }}">
        <div class="icon mandatory icon-circle"></div>{{'Identifikator des Metadatensatzes'|trans}}:
    </label>
    <input name="{{ id }}" id="{{ id|md_id }}" type="text" value="{{ val }}" class="oneCol2"/>
    <div class="btn-group">
        <div class="wizard_{{ id|md_obj_id }}" {{ id|md_data_obj }}><div class="icon icon-magic-wand"></div></div>
        <div class="last showHelp" {{ id|md_data_obj }}><div class="icon icon-question"></div></div>
    </div>
    <div class="clear"></div>
</div>

{#
    RESOURCE LANGUAGE
#}
{% set id = 'p[metadataLanguage]' %}
{% set val = p['metadataLanguage'] is defined ? p['metadataLanguage'] : 'ger' %}

<div class="twoColBox">
    <div class="left">
        <label>
            <div class="icon mandatory icon-circle"></div>{{'Sprache der Metadaten'|trans}}:
        </label>
        <select name="{{ id }}" class="twoCol1">
            <option value="ger" {{ md_select(val, 'ger') }}>
                {% trans %}Deutsch{% endtrans %}
            </option>
            <option value="eng" {{ md_select(val, 'eng') }}>
                {% trans %}Englisch{% endtrans %}
            </option>
        </select>
        <div class="btn-group">
            <div class="last showHelp" {{ id|md_data_obj }}>
                <div class="icon icon-question"></div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

{#
    RESPONSIBLE PARTY METADATA
#}
{% set id = 'p[responsiblePartyMetadata]' %}

{% if p['responsiblePartyMetadata'] is not defined %}
    {% set p = p|merge({'responsiblePartyMetadata': [{'organisationName':'','electronicMailAddress':''}]}) %}
{% endif %}
{% set length = p['responsiblePartyMetadata']|length -1 %}

<h2>{% trans %}Für Metadaten verantwortliche Stelle{% endtrans %}</h2>
<div class="duplicatable" data-count="{{ length }}">
    <ul>
        {% for key,value in p['responsiblePartyMetadata'] %}
        <li data-id="{{ key }}" class="tab {% if key == 0 %}act{% endif %}">{{ key }}</li>
        {% endfor %}
        <li class="duplicate"><div class="icon icon-plus"></div></li>
        <li class="menu delete"><div class="icon icon-bin2"></div></li>
        <li class="menu showHelp" {{ id|md_data_obj }}><div class="icon icon-question"></div></li>
        <li class="menu" data-id="wizard_responsibleParty"><div class="icon icon-magic-wand" {{ id|md_data_obj }}></div></li>
    </ul>
    <div class="content">
        {% for key,value in p['responsiblePartyMetadata'] %}

        <div class="nr{{ key }} {% if key == 0 %}act{% endif %}">
            <div class="twoColBox">

                {% set id = 'p[responsiblePartyMetadata][' ~ key ~ '][organisationName]' %}
                {% set val = value['organisationName'] %}

                <div class="left">
                    <label>
                        <div class="icon mandatory icon-circle"></div>{{'Name der Organisation'|trans}}:
                    </label>
                    <input name="{{ id }}" type="text" value="{{ val }}" class="twoCol1"/>
                    <div class="btn-group">
                        <div class="last showHelp" {{ id|md_data_obj }}><div class="icon icon-question"></div></div>
                    </div>
                </div>

                {% set id = 'p[responsiblePartyMetadata][' ~ key ~ '][electronicMailAddress]' %}
                {% set val = value['electronicMailAddress'] %}

                <div class="right">
                    <label>
                        <div class="icon mandatory icon-circle"></div>{{'E-Mail'|trans}}:
                    </label>
                    <div class="fr">
                        <div class="btn-group">
                            <div class="last showHelp" {{ id|md_data_obj }}><div class="icon icon-question"></div></div>
                        </div>
                        <input name="{{ id }}" type="text" value="{{ val }}" class="twoCol1" />
                    </div>
                </div>
                <div class="clear"></div>

                {% set id = 'p[responsiblePartyMetadata][' ~ key ~ '][individualName]' %}
                {% set val = value['individualName'] is defined ? value['individualName'] : '' %}

                <div class="left">
                    <label>
                        <div class="icon optional icon-circle"></div>{{'Zuständige Person'|trans}}:
                    </label>
                    <input name="{{ id }}" type="text" value="{{ val }}" class="twoCol1" />
                    <div class="btn-group">
                        <div class="last showHelp" {{ id|md_data_obj }}><div class="icon icon-question"></div></div>
                    </div>
                </div>
                <div class="right"></div>
                <div class="clear"></div>


                {% set id = 'p[responsiblePartyMetadata][' ~ key ~ '][country]' %}
                {% set val = value['country'] is defined ? value['country'] : '' %}

                <div class="left">
                    <label>
                        <div class="icon optional icon-circle"></div>{{'Staat'|trans}}:
                    </label>
                    <input name="{{ id }}" type="text" value="{{ val }}" class="twoCol1"/>
                    <div class="btn-group">
                        <div class="last showHelp" {{ id|md_data_obj }}><div class="icon icon-question"></div></div>
                    </div>
                </div>

                {% set id = 'p[responsiblePartyMetadata][' ~ key ~ '][administrativeArea]' %}
                {% set val = value['administrativeArea'] is defined ? value['administrativeArea'] : '' %}

                <div class="right">
                    <label>
                        <div class="icon optional icon-circle"></div>{{'Bundesland'|trans}}:
                    </label>
                    <div class="fr">
                        <div class="btn-group">
                            <div class="last showHelp" {{ id|md_data_obj }}><div class="icon icon-question"></div></div>
                        </div>
                        <input type="text" name="{{ id }}" value="{{ val }}" class="twoCol1" />
                    </div>
                </div>
                <div class="clear"></div>
            </div>

            {% set id = 'p[responsiblePartyMetadata][' ~ key ~ '][deliveryPoint]' %}
            {% set val = value['deliveryPoint'] is defined ? value['deliveryPoint'] : '' %}

            <div class="oneColBox">
                <label>
                    <div class="icon optional icon-circle"></div>{{'Straße und Hausnummer / Postfach'|trans}}:
                </label>
                <input id="{{ id|md_id }}" name="{{ id }}" type="text" value="{{ val }}" class="oneCol1"/>
                <div class="btn-group">
                    <div class="last showHelp" {{ id|md_data_obj }}>
                        <div class="icon icon-question"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>

            <div class="twoColBox">
                {% set id = 'p[responsiblePartyMetadata][' ~ key ~ '][city]' %}
                {% set val = value['city'] is defined ? value['city'] : '' %}

                <div class="left">
                    <label>
                        <div class="icon optional icon-circle"></div>{{'Ort'|trans}}:
                    </label>
                    <input name="{{ id }}" type="text" value="{{ val }}" class="twoCol1"/>
                    <div class="btn-group">
                        <div class="last showHelp" {{ id|md_data_obj }}><div class="icon icon-question"></div></div>
                    </div>
                </div>

                {% set id = 'p[responsiblePartyMetadata][' ~ key ~ '][postalCode]' %}
                {% set val = value['postalCode'] is defined ? value['postalCode'] : '' %}

                <div class="right">
                    <label>
                        <div class="icon optional icon-circle"></div>{{'PLZ'|trans}}:
                    </label>
                    <div class="fr">
                        <div class="btn-group">
                            <div class="last showHelp" {{ id|md_data_obj }}><div class="icon icon-question"></div></div>
                        </div>
                        <input type="text" name="{{ id }}" value="{{ val }}" class="twoCol1" />
                    </div>
                </div>
                <div class="clear"></div>

                {% set id = 'p[responsiblePartyMetadata][' ~ key ~ '][voice]' %}
                {% set val = value['voice'] is defined ? value['voice'] : '' %}

                <div class="left">
                    <label>
                        <div class="icon optional icon-circle"></div>{{'Telefonnummer'|trans}}:
                    </label>
                    <input name="{{ id }}" type="text" value="{{ val }}" class="twoCol1"/>
                    <div class="btn-group">
                        <div class="last showHelp" {{ id|md_data_obj }}><div class="icon icon-question"></div></div>
                    </div>
                </div>

                {% set id = 'p[responsiblePartyMetadata][' ~ key ~ '][facsimile]' %}
                {% set val = value['facsimile'] is defined ? value['facsimile'] : '' %}

                <div class="right">
                    <label>
                        <div class="icon optional icon-circle"></div>{{'Faxnummer'|trans}}:
                    </label>
                    <div class="fr">
                        <div class="btn-group">
                            <div class="last showHelp" {{ id|md_data_obj }}><div class="icon icon-question"></div></div>
                        </div>
                        <input type="text" name="{{ id }}" value="{{ val }}" class="twoCol1" />
                    </div>
                </div>
                <div class="clear"></div>
            </div>

            {% set id = 'p[responsiblePartyMetadata][' ~ key ~ '][onlineResource]' %}
            {% set val = value['onlineResource'] is defined ? value['onlineResource'] : '' %}

            <div class="oneColBox">
                <label>
                    <div class="icon optional icon-circle"></div>{{'Internetadresse'|trans}}:
                </label>
                <input id="{{ id|md_id }}" name="{{ id }}" type="text" value="{{ val }}" class="oneCol1"/>
                <div class="btn-group">
                    <div class="last showHelp" {{ id|md_data_obj }}>
                        <div class="icon icon-question"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        {% endfor %}
    </div>
</div>


{#
    METADATA STANDARD NAME AND VERSION
#}
<h2>{% trans %}Angaben zur Metadatenspezifikation{% endtrans %}</h2>
<div class="twoColBox">

    {% set id = 'p[metadataStandardName]' %}
    {% set val = p['metadataStandardName'] is defined ? p['metadataStandardName'] : 'ISO19115' %}

    <div class="left">
        <label>
            <div class="icon mandatory icon-circle"></div>{{'Spezifikation'|trans}}:
        </label>
        <input name="{{ id }}" id="{{ id|md_id }}" type="text" value="{{ val }}" class="twoCol1"/>
        <div class="btn-group">
            <div class="last showHelp" {{ id|md_data_obj }}>
                <div class="icon icon-question"></div>
            </div>
        </div>
    </div>
    <div class="right">

        {% set id = 'p[metadataStandardVersion]' %}
        {% set val = p['metadataStandardVersion'] is defined ? p['metadataStandardVersion'] : '2003/Cor.1:2006' %}

        <label>
            <div class="icon mandatory icon-circle"></div>{{'Version'|trans}}:
        </label>
        <div class="fr">
            <div class="btn-group">
                <div class="last showHelp" {{ id|md_data_obj }}>
                    <div class="icon icon-question"></div>
                </div>
            </div>
            <input name="{{ id }}" id="{{ id|md_id }}" type="text" value="{{ val }}" class="twoCol1"/>
        </div>
    </div>
    <div class="clear"></div>
</div>

{#
    BROWSER GRAPHIC
#}
{% set id = 'p[browserGraphic]' %}
{% set val = p['browserGraphic'] is defined ? p['browserGraphic'] : '' %}

<div class="oneColBox">
    <label for="{{ id|md_id }}">
        <div class="icon optional icon-circle"></div>{{'Browser Bild'|trans}}:
    </label>
    <input name="{{ id }}" id="{{ id|md_id }}" type="text" value="{{ val }}" class="oneCol1"/>
    <div class="btn-group">
        <div class="last showHelp" {{ id|md_data_obj }}><div class="icon icon-question"></div></div>
    </div>
    <div class="clear"></div>
    <div id="browserGraphic" class="browserGraphic"></div>
</div>
