{% include "@MetadorTheme/Template/paging.html.twig" %}

<table class="table bordered medium">
    <thead>
    <tr>
        <th>{% trans %}Name{% endtrans %}</th>
        <th>{% trans %}Organisation{% endtrans %}</th>
        <th>{% trans %}Ort{% endtrans %}</th>
        <th>{% trans %}Straße{% endtrans %}</th>
    </tr>
    </thead>
    <tbody>
    {% for address in rows %}
        <tr class="-js-address-resume -js-address-insert address-row" data-uuid="{{ address.uuid }}">
            <td>{{ address.individualName }}</td>
            <td>{{ address.organisationName }}</td>
            <td>{{ address.city }}</td>
            <td>{{ address.deliveryPoint }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
