{% extends 'MetadorThemeBundle:Theme:template.html.twig' %}

{% block center %}
    <div class="center menu">
        <div class="center-left">
            <div class="left-menu-content">
                <ul class="left-menu">
                    {% for item in applicationGet('app-manual-menu') %}
                        {# RAW CONTENT #}
                        {% if item.raw is defined %}
                            {{ item.raw|raw }}

                            {# INCLUDE CONTENT #}
                        {% elseif item.template is defined %}
                            {% include item.template %}

                            {# USE TEMPLATE #}
                        {% else %}
                            <li class="menu-item {% if item.active is defined and item.active %}act{% endif %}">
                                <a href="{{ path(item.path, item.params) }}"{% if item.target is defined and item.target %} target="{{ item.target }}"{% endif %}>
                                    {% if item.icon is defined %}
                                        <span class="{{ item.icon }}"></span>
                                    {% endif %}
                                    {{ item.label|trans }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="center-right">
            <div class="content">
                {% markdown %}{% block manual %}{% endblock %}{% endmarkdown %}
                {% if app.environment == 'dev' %}
                {% markdown %}{% block devmanual %}{% endblock %}{% endmarkdown %}
                {% endif %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block css %}
    {{ parent() }}

    {% if app.environment == 'dev' %}
        <link rel="stylesheet" href="{{ asset('bundles/metadortheme/css/prism.css') }}">
    {% endif %}
{% endblock %}

{% block javascript %}
    {{ parent() }}

    {% if app.environment == 'dev' %}
        <script src="{{ asset('bundles/metadortheme/js/prism.js') }}"></script>
    {% endif %}
{% endblock %}
