{% if app.environment == 'dev' %}
    {% set BASEDIR = app.request.basepath ~ '/app_dev.php/' %}
{% else %}
    {% set BASEDIR = app.request.basepath ~ '/app.php/' %}
{% endif %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="{{ asset('bundles/metadortheme/img/favicon.png') }}" type="image/png" />
        {% block css %}{% endblock %}
    </head>
    <body>
    {% block body %}{% endblock %}
    {% block javascript %}
    {%  set parameters = get_configuration() %}
        <script type="text/javascript">
            var Configuration = {
                'basedir': '{{ BASEDIR }}',
                'maxlifetime': '{% if app.user %}{{ session_maxlifetime() }}{% else %}0{% endif %}',
                'parameters': {
                    {% for key, value in parameters %}
                    '{{ key }}': '{{ value }}'{% if not loop.last %},{% endif %}
                    {% endfor %}
                },
                spatial: {
                    map: {
                        target: 'map',
                        srs: ["EPSG:4326", "EPSG:31466", "EPSG:25832"]
                    },
                    view: {
                        projection: '{{ parameters['map_crs'] }}',//': '9,49,11,53',                                        '
                        maxExtent: [{{ parameters['map_bbox_max'] }}],//[5.8, 47.0, 15.0, 55.0], // priority for scales or for maxExtent?
                        startExtent: [{{ parameters['map_bbox_start'] }}],//[9, 49, 11, 53],
                        scales: [5000, 25000, 50000, 100000, 200000, 250000, 500000, 1000000, 2000000, 5000000, 10000000]//, 20000000, 50000000]
                    },
                    styles: {
                        highlight: {
                            fill: {
                                color: 'rgba(60, 180, 255, 0.2)'
                            },
                            stroke: {
                                color: 'rgba(60, 180, 255, 1.0)',
                                width: 2
                            }
                        },
                        search: {
                            fill: {
                                color: 'rgba(255, 180, 60, 0.2)'
                            },
                            stroke: {
                                color: 'rgba(255, 180, 60, 1.0)',
                                width: 2
                            }
                        }
                    },
                    source: [
                        {
                            type: 'WMS',
                            url: 'http://osm-demo.wheregroup.com/service?',
                            title: 'OSM',
                            opacity: 1.0,
                            visible: true,
                            params: {
                                LAYERS: 'osm',
                                VERSION: '1.1.1',
                                FORMAT: 'image/png'
                            }
                        },
                        {
                            type: 'WMS',
                            url: 'http://wms.wheregroup.com/cgi-bin/mapbender_user.xml?',
                            title: 'MB-User',
                            opacity: 0.8,
                            visible: true,
                            params: {
                                LAYERS: 'Mapbender',
                                VERSION: '1.1.1',
                                FORMAT: 'image/png'
                            }
                        }
                    ],
                    proj4Defs: {
                        "EPSG:4326": "+proj=longlat +datum=WGS84 +no_defs",
                        "EPSG:4258": "+proj=longlat +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +no_defs",
                        // "EPSG:31466": "+proj=tmerc +lat_0=0 +lon_0=6 +k=1 +x_0=2500000 +y_0=0 +ellps=bessel +towgs84=598.1,73.7,418.2,0.202,0.045,-2.455,6.7 +units=m +no_defs",
                        // "EPSG:31467": "+proj=tmerc +lat_0=0 +lon_0=9 +k=1 +x_0=3500000 +y_0=0 +ellps=bessel +towgs84=598.1,73.7,418.2,0.202,0.045,-2.455,6.7 +units=m +no_defs",
                        // "EPSG:31468": "+proj=tmerc +lat_0=0 +lon_0=12 +k=1 +x_0=4500000 +y_0=0 +ellps=bessel +towgs84=598.1,73.7,418.2,0.202,0.045,-2.455,6.7 +units=m +no_defs",
                        // "EPSG:31469": "+proj=tmerc +lat_0=0 +lon_0=15 +k=1 +x_0=5500000 +y_0=0 +ellps=bessel +towgs84=598.1,73.7,418.2,0.202,0.045,-2.455,6.7 +units=m +no_defs",
                        "EPSG:25832": "+proj=utm +zone=32 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs",
                        // "EPSG:25833": "+proj=utm +zone=33 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs"
                    }
                }
            };
        </script>
    {% endblock %}
    </body>
</html>
