{% for item in applicationGet('app-global-menu') %}
    {# RAW CONTENT #}
    {% if item.raw is defined %}
        {{ item.raw|raw }}

        {# INCLUDE CONTENT #}
    {% elseif item.template is defined %}
        {{ include(item.template, item.params) }}

        {# USE TEMPLATE #}
    {% else %}
        <a href="{{ path(item.path, item.params) }}" class="header-menu-item button {% if item.active is defined and item.active %}active{% endif %}">
            {% if item.icon is defined %}
                <span class="{{ item.icon }}"></span>
            {% endif %}
            {{ item.label|trans }}
        </a>
    {% endif %}
{% endfor %}

{% include 'MetadorThemeBundle:Theme:userMenu.html.twig' %}

