{% extends 'MetadorThemeBundle:Theme:base.html.twig' %}

{% block title %}Metador{% endblock %}

{% block body %}
    <div class="md">
        <div class="top">
            <div class="top-left">
            <span class="logo">
                <img src="{{ asset('bundles/metadortheme/img/logo-s.png') }}" />
            </span>
            </div>
            <div class="top-right">
                {% block global_menu %}
                    {% include 'MetadorThemeBundle:Theme:globalMenu.html.twig' %}
                {% endblock %}
            </div>
        </div>

        {% block center %}{% endblock %}
    </div>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('public/app.min.css') }}">
    <link rel="stylesheet" href="{{ asset('public/css/metallic.css') }}">

    {% if app.environment == 'dev' %}
        <link rel="stylesheet" href="https://i.icomoon.io/public/83c52ab735/Metador/style.css">
    {% else %}
        <link rel="stylesheet" href="{{ asset('bundles/metadortheme/style.css') }}">
    {% endif %}

    <link rel="stylesheet" href="{{ asset('bundles/metadortheme/css/theme.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/metadortheme/css/theme-v2.css') }}">

    {# Load plugin css #}

    {% for item in applicationGet('app-css') %}
        {# RAW CONTENT #}
        {% if item.raw is defined %}
            {{ item.raw|raw }}

            {# INCLUDE CONTENT #}
        {% elseif item.template is defined %}
            {{ include(item.template, item.params) }}

            {# INCLUDE CONTENT #}
        {% elseif item.file is defined %}
            <link rel="stylesheet" href="{{ asset(item.file) }}">
        {% endif %}
    {% endfor %}
{% endblock %}

{% block javascript %}
    <script src="{{ asset('public/app.min.js') }}"></script>
    <script src="{{ asset('public/javascript/zebra_datepicker.js') }}"></script>
    <script src="{{ asset('bundles/metadortheme/ui.js') }}"></script>
    {% for plugin, src in applicationGet('app-javascript') %}
        <script src="{{ asset(src) }}"></script>
    {% endfor %}
{% endblock %}
