{% extends 'MetadorThemeBundle:Theme:base.html.twig' %}

{% block title %}Metador{% endblock %}

{% block body %}
    {% set systemMessage = get_setting('system_message') %}
    <div class="md {% if systemMessage %}sys-msg{% endif %}">
        {% if systemMessage %}
            <div class="sys-msg-text -js-sys-msg">
                <div class="sys-msg-text-content">{{ systemMessage|md2html }}</div>
            </div>
        {% endif %}
        <div class="main">
            <div class="top">
                <div class="top-left">
                    <span class="logo">
                        <img src="{{ asset('bundles/metadortheme/img/logo-s.png') }}" />
                    </span>
                </div>
                <div class="top-right">
                    {% include 'MetadorThemeBundle:Home:search-field.html.twig' %}

                    {% block global_menu %}
                        {% include 'MetadorThemeBundle:Theme:globalMenu.html.twig' %}
                    {% endblock %}
                </div>
            </div>
            {% block center %}{% endblock %}
        </div>
        <div class="timeout-wrapper -js-timeout-wrapper">
            <div class="timeout-dialog -js-timeout-dialog" data-logout-path="{{ url('logout') }}" data-heartbeat-path="{{ url('metador_heartbeat') }}" >
                <div class="timeout-dialog-header"><span class="icon-bell"></span> {% trans %}session_timeout_title{% endtrans %}</div>
                <div class="timeout-dialog-content text-center">{% trans %}session_timeout_dialog{% endtrans %}</div>
                <div class="timeout-dialog-footer">
                    <div class="grid">
                        <div class="row r-2">
                            <div class="col c-1-2">
                                <button class="btn success medium -js-timeout-dialog-heartbeat">
                                    <span class="icon-checkmark"></span>
                                    {% trans %}session_timeout_stay{% endtrans %}
                                </button>
                            </div>
                            <div class="col c-1-2 text-right">
                                <a href="{{ path('logout') }}" class="-js-timeout-dialog-logout btn medium">
                                    <span class="icon-sign-out"></span>
                                    {% trans %}session_timeout_logout{% endtrans %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-background"></div>
        </div>
    </div>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('public/app.min.css') }}">
    <link rel="stylesheet" href="{{ asset('public/css/metallic.css') }}">

    {% if app.environment == 'dev' %}
        <link rel="stylesheet" href="https://i.icomoon.io/public/83c52ab735/Metador/style.css">
    {% else %}
        <link rel="stylesheet" href="{{ asset('bundles/metadortheme/style.css') }}">
    {% endif %}

    <link rel="stylesheet" href="{{ asset('bundles/metadortheme/css/theme.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/metadortheme/css/theme-v2.css') }}">

    {# Load plugin css #}
    {% for item in applicationGet('app-css') %}
        {# RAW CONTENT #}
        {% if item.raw is defined %}
            {{ item.raw|raw }}

            {# INCLUDE CONTENT #}
        {% elseif item.template is defined %}
            {{ include(item.template, item.params) }}

            {# INCLUDE CONTENT #}
        {% elseif item.file is defined %}
            <link rel="stylesheet" href="{{ asset(item.file) }}">
        {% endif %}
    {% endfor %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('public/app.min.js') }}"></script>
    <script src="{{ asset('bundles/metadorcore/js/core.js') }}"></script>
    <script src="{{ asset('public/javascript/zebra_datepicker.js') }}"></script>
    <script src="{{ asset('bundles/metadortheme/session.js') }}"></script>
    <script src="{{ asset('bundles/metadortheme/ui.js') }}"></script>
    <script src="{{ asset('bundles/metadortheme/modal-dialog.js') }}"></script>
    {% for plugin, src in applicationGet('app-javascript') %}
        <script src="{{ asset(src) }}"></script>
    {% endfor %}
{% endblock %}
