{% extends 'MetadorThemeBundle::base.html.twig' %}

{% import "MetadorThemeBundle:Macro:plugin.html.twig" as plugin %}

{% block title %}Metador 2.1{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('public/app.min.css') }}">
    <link rel="stylesheet" href="{{ asset('public/css/metallic.css') }}">

    {% if app.environment == 'dev' %}
        <link rel="stylesheet" href="https://i.icomoon.io/public/83c52ab735/Metador/style.css">
    {% else %}
        <link rel="stylesheet" href="{{ asset('bundles/metadortheme/style.css') }}">
    {% endif %}

    <link rel="stylesheet" href="{{ asset('bundles/metadortheme/css/theme.css') }}">

    {% for item in applicationGet('app-css') %}
        {# RAW CONTENT #}
        {% if item.raw is defined %}
            {{ item.raw|raw }}

            {# INCLUDE CONTENT #}
        {% elseif item.template is defined %}
            {{ include(item.template, item.params) }}

            {# INCLUDE CONTENT #}
        {% elseif item.file is defined %}
            <link rel="stylesheet" href="{{ asset(item.file) }}">
        {% endif %}
    {% endfor %}
{% endblock %}

{% block body %}
    <div class="page" data-page="">
        <div class="page-top">
            {% block global_menu %}
                {% include 'MetadorThemeBundle:Template:globalMenu.html.twig' %}
            {% endblock %}
        </div>
        {% block form_start %}{% endblock %}
        <div class="plugin-menu">
            <div class="plugin-menu-content">
                <div class="plugin-menu-content-left">
                    <div class="metador-preloader" data-element="metador-preloader">
                        <span></span><span></span><span></span><span></span><span></span>
                    </div>
                </div>
                <div class="plugin-menu-content-right">
                    <ul class="plugin-menu-list">
                        {% block plugin_menu %}
                            {% for item in applicationGet('app-plugin-menu') %}
                                {{ plugin.menu(item) }}
                            {% endfor %}
                        {% endblock %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-top-center">
            {% for item in applicationGet('app-page-center') %}
                {# RAW CONTENT #}
                {% if item.raw is defined %}
                    {{ item.raw|raw }}
                    {# INCLUDE CONTENT #}
                {% elseif item.template is defined %}
                    {{ include(item.template, item.params) }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="page-center">
            {% block center %}{% endblock %}
        </div>
        {% block form_end %}{% endblock %}
    </div>
    <h1></h1>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('public/app.min.js') }}"></script>
    <script src="{{ asset('public/javascript/zebra_datepicker.js') }}"></script>
    <script src="{{ asset('bundles/metadorcore/js/metador.js') }}"></script>
    <script src="{{ asset('bundles/metadorcore/js/ui.js') }}"></script>
    {% for plugin, src in applicationGet('app-javascript') %}
        <script src="{{ asset(src) }}"></script>
    {% endfor %}
{% endblock %}
