{% extends 'WhereGroupThemeBundle::base.html.twig' %}

{% block title %}Metador 2.1{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/wheregrouptheme/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/wheregrouptheme/css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/wheregrouptheme/style.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/wheregrouptheme/style/datepicker/zebra_datepicker_metallic.css') }}">

    {% stylesheets 'bundles/wheregrouptheme/style/sass/*.scss'
        filter='sass,uglifycss' output='bundles/wheregrouptheme/css/metador.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% for item in applicationGet('app-css') %}
    {# RAW CONTENT #}
    {% if item.raw is defined %}
        {{ item.raw|raw }}

    {# INCLUDE CONTENT #}
    {% elseif item.template is defined %}
        {{ include(item.template, item.params) }}

    {# INCLUDE CONTENT #}
    {% elseif item.file is defined %}
        <link rel="stylesheet" href="{{ asset(item.file) }}">
    {% endif %}
    {% endfor %}
{% endblock %}

{% block body %}
<div class="page" data-page="">
    <div class="page-top">
	{% block global_menu %}
	    {% include 'WhereGroupThemeBundle:Template:globalMenu.html.twig' %}
	{% endblock %}
    </div>
    {% block form_start %}{% endblock %}
    <div class="plugin-menu">
        <div class="plugin-menu-content">
            <div class="plugin-menu-content-left">
                <div class="metador-preloader" data-element="metador-preloader">
                    <span></span><span></span><span></span><span></span><span></span>
                </div>
            </div>
            <div class="plugin-menu-content-right">
                <ul class="plugin-menu-list">
                    {% block plugin_menu %}
                    {% include 'WhereGroupThemeBundle:Template:pluginMenu.html.twig' %}
                    {% endblock %}
                </ul>
            </div>
        </div>
    </div>
    <div class="page-top-center">
        {% for item in applicationGet('app-page-center') %}
        {# RAW CONTENT #}
        {% if item.raw is defined %}
            {{ item.raw|raw }}
        {# INCLUDE CONTENT #}
        {% elseif item.template is defined %}
            {{ include(item.template, item.params) }}
        {% endif %}
        {% endfor %}
    </div>
    <div class="page-center">
        {% block center %}{% endblock %}
    </div>
    {% block form_end %}{% endblock %}
</div>
<h1></h1>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/wheregrouptheme/js/jquery-1.8.3.min.js') }}"></script>
    <script src="{{ asset('bundles/wheregrouptheme/js/datepicker/zebra_datepicker.js') }}"></script>
    <script src="{{ asset('bundles/wheregroupcore/js/metador.js') }}"></script>
    <script src="{{ asset('bundles/wheregroupcore/js/ui.js') }}"></script>
    {% for plugin, src in applicationGet('app-javascript') %}
    <script src="{{ asset(src) }}"></script>
    {% endfor %}
{% endblock %}
