{% extends 'MetadorThemeBundle:Admin:template.html.twig' %}

{% block content %}
    {% if log.warning is defined and log.warning is not empty %}
        <div class="notify close warning">
            <ul>
                {% for log in log.warning %}
                    <li>({{ log.origin }}) {{ log.message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if log.error is defined and log.error is not empty %}
        <div class="notify close error">
            <ul>
                {% for log in log.error %}
                    <li>({{ log.origin }}) {{ log.message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="grid padding responsive">
        {% for item in applicationGet('app-information') %}
            {% if loop.index0 % 4 == 0 %}
                <div class="row r-4">
            {% endif %}
                <div class="col c-1-4">
                    <div class="app-info" title="{{ item.label|trans }}">
                        <div class="app-info-head">
                            <span class="app-info-icon {{ item.icon }}"></span> {{ item.label|trans|teaser(13, true) }}
                        </div>
                        {% if item.count is defined %}<div class="app-info-count" title="{{ item.count }}">{{ item.count }}</div>{% endif %}
                        {% if item.content is defined %}<div class="app-info-content">{{ item.content|raw }}</div>{% endif %}
                    </div>
                </div>
            {% if loop.index % 4 == 0 %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
