{% extends 'MetadorThemeBundle:Admin:template.html.twig' %}

{% block content %}
    <div class="grid content-title">
        <div class="row r-2">
            <div class="col c-1-2">
                <h1 class="title">{% trans %}Gruppen{% endtrans %}</h1>
            </div>
            <div class="col c-1-2 text-right">
                <a href="{{ path('metador_admin_group_new') }}" class="btn info medium">
                    <span class="icon-plus-circle"></span> {% trans %}Neu{% endtrans %}
                </a>
            </div>
        </div>
    </div>

    <hr class="line-separator" />

    {% for group in groups %}
        {% set class = '' %}
        {% if group.users|length == 0 %}
            {% set class = class ~ ' disabled' %}
        {% endif %}

        <div class="title-box {{ class|trim }}">
            <div class="title-box-logo">
                <a href="{{ path('metador_admin_group_edit', {'id': group.id}) }}">
                    <span class="icon-users"></span>
                </a>
            </div>
            <div class="title-box-info">
                <div class="title" title="{{ group.role|groupname }}">
                    <a href="{{ path('metador_admin_group_edit', {'id': group.id}) }}">
                    {{ group.role|groupname|teaser(13, 1) }}
                    </a>
                </div>
                <div class="alternate" title="{{ group.description }}">
                    {{ group.description|teaser(30) }}
                </div>
                <div class="count" title="{% for user in group.users %}{{ user.username ~ "\n" }}{% endfor %}">
                    {{ group.users|length }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
