{% extends 'MetadorThemeBundle:Admin:template.html.twig' %}

{% block content %}
    <div class="grid content-title">
        <div class="row r-2">
            <div class="col c-1-2">
                <h1 class="title dm">{% trans %}Gruppen{% endtrans %}</h1>
            </div>
            <div class="col c-1-2 text-right">
                <a href="{{ path('metador_admin_group_new') }}" class="btn info medium">
                    <span class="icon-plus"></span> {% trans %}Neu{% endtrans %}
                </a>
            </div>
        </div>
    </div>

    <hr class="line-separator" />

    <table class="table bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Users</th>
            <th class="icon-column">Id</th>
        </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr title="{{ group.description }}">
                <td>
                    <a href="{{ path('metador_admin_group_edit', {'id': group.id}) }}">
                        {{ group.role|groupname|teaser(13, 1) }}
                    </a>
                </td>
                <td>{{ group.users|length }}</td>
                <td class="text-right">
                    #{{ group.id }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br/>
{% endblock %}
