{% extends ':Design:withMenu.html.twig' %}

{% block pageMenu %}
    {% include 'WhereGroupUserBundle::menu.html.twig' %}
{% endblock %}

{% block content %}
<h1>{{ 'Gruppen'|trans }}</h1>

<div style="width:520px;float:left;vertical-align: top;">
    <fieldset class="fs">
        <legend>{{ 'Bestehende Gruppen löschen / bearbeiten'|trans }}</legend>
            <table style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Gruppe</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.id }}</td>
                        <td>{{ entity.role }}</td>
                        <td>
                            <a href="{{ path('group_confirm', { 'id': entity.id }) }}" class="info"><div class="icon delete"></div></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </fieldset>
</div>
<div style="width: 200px;margin-left: 530px;">
    <form action="{{ path('group_create') }}" method="post" autocomplete="off">
        <fieldset class="fs">
            <legend>{{ 'Neue Gruppe erstellen'|trans }}</legend>
            <label for="{{ form.role.vars.id }}">{{ form_label(form.role) }}:</label>
            <br/>{{ form_widget(form.role) }}
            {{ form_widget(form._token) }}
            <br/><button type="submit">{{ 'erstellen'|trans }}</button>
        </fieldset>
    </form>
</div>
{% endblock %}