<style>
{#    .view-table, th, td{
        border: 1px solid black;
    }#}
    .view-table{
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: left;
    }
    .view-header-one{
        font-size: 2.5em;
        font-weight: bold;
    }
    .view-row-one{
        border-bottom: 5px solid #4dacfe;
    }
    .view-header-two{
        font-size: 1.25em;
        font-weight: bold;
        color: #4dacfe;
    }
    .view-header-three{
        font-size: 1em;
        font-weight: bold;
    }
    .view-bastract{
        width:80%;
    }
    .view-update-time-label{
        width:80%;
        text-align: right;
    }
    .view-update-time{
        width: 20%;
        font-size: 1.25em;
        text-align: center;
    }
    .view-property-label{
        width:30%;
    }
    .view-property{
        width:70%;
    }
</style>
    {# identification #}
<table class="view-table">
    <thead>
        <tr>
            {% if p['title'] is defined and p['title'] is not empty %}
            <th colspan="2" class="view-header-one">{{ p['title'] }}</th>
            {% else %}
            <th colspan="2" class="view-header-one">Kein Titel</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        <tr>
            {% if p['alternateTitle'] is defined and p['alternateTitle'] is not empty %}
                <th colspan="2" class="view-header-two"><i>{{ p['alternateTitle'] }}</i></th>
            {% else %}
            <th colspan="2" class="view-header-two">Kein Alternativtitel</th>
            {% endif %}
        </tr>
        <tr>
            <td colspan="2" class="html-gap pdf-gap"></td>
        </tr>
        <tr>
            {% if p['_update_time'] is defined and p['_update_time'] is not empty %}
            <td class="view-header-two view-update-time-label">Letzte Aktualisierung:</td>
                <td class="view-update-time"><i>{{ p['_update_time'] }}</i></td>
            {% else %}
                <td><i>Kein Datum</i></td>
            {% endif %}
        </tr>
        <tr>
            <td colspan="2" class="html-gap pdf-gap"></td>
        </tr>
        <tr>
            {% if p['abstract'] is defined and p['abstract'] is not empty %}
                <td class="pdf-bastract">{{ p['abstract'] }}</td>
            {% else %}
            <td class="view-header-two"></td>
            {% endif %}
            {% if p['browserGraphic'] is defined and p['browserGraphic'] is not empty %}
                <td><img style="max-width: 200px; max-height: 200px;" src="{{ p['browserGraphic'] }}"></td>
            {% else %}
            <td style="max-width: 200px;" class="view-header-two"></td>
            {% endif %}
        </tr>
    </tbody>
</table>
<div class="html-gap pdf-gap"></div>
{# metadata  #}
<table class="view-table">
    <thead>
        <tr>
            <th colspan="2" class="view-row-one view-header-one">Metadaten</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2" class="html-gap pdf-gap"></td>
        </tr>
        <tr>
            <td class="view-property-label view-header-three">Sprache der Metadaten</td>
            {% if p['metadataLanguage'] is defined and p['metadataLanguage'] is not empty %}
            <td class="view-property">{{ p['metadataLanguage'] }}</td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        <tr>
            <td colspan="2" class="html-gap pdf-gap"></td>
        </tr>
        <tr>
            <td colspan="2" class="view-row-two view-header-two">Für Metadaten verantwortliche Stelle</td>
        </tr>
        <tr>
            <td colspan="2" class="html-gap pdf-gap"></td>
        </tr>
        {% for responsible in p['responsiblePartyMetadata']%}
        <tr>
            <td class="view-property-label view-header-three">Name der Organisation</td>
            <td class="view-property">{{ responsible['organisationName'] }}</td>
        </tr>
        <tr>
            <td class="view-property-label view-header-three">Zuständige Person</td>
            <td class="view-property">{{ responsible['individualName'] }}</td>
        </tr>
        <tr>
            <td class="view-property-label view-header-three">Straße und Hausnummer / Postfach</td>
            <td class="view-property">{{ responsible['deliveryPoint'] }}</td>
        </tr>
        <tr>
            <td class="view-property-label view-header-three">Ort</td>
            <td class="view-property">{{ responsible['city'] }}</td>
        </tr>
        <tr>
            <td class="view-property-label view-header-three">PLZ</td>
            <td class="view-property">{{ responsible['postalCode'] }}</td>
        </tr>
        <tr>
            <td class="view-property-label view-header-three">Bundesland</td>
            <td class="view-property">{{ responsible['administrativeArea'] }}</td>
        </tr>
        <tr>
            <td class="view-property-label view-header-three">Staat</td>
            <td class="view-property">{{ responsible['country'] }}</td>
        </tr>
        <tr>
            <td class="view-property-label view-header-three">Telefonnummer</td>
            <td class="view-property">{{ responsible['voice'] }}</td>
        </tr>
        <tr>
            <td class="view-property-label view-header-three">Faxnummer</td>
            <td class="view-property">{{ responsible['facsimile'] }}</td>
        </tr>
        <tr>
            <td class="view-property-label view-header-three">E-Mail</td>
            <td class="view-property">{{ responsible['electronicMailAddress'] }}</td>
        </tr>
        <tr>
            <td class="view-property-label view-header-three">Internetadresse</td>
            <td class="view-property">{{ responsible['onlineResource'] }}</td>
        </tr>
        <tr>
            <td colspan="2" class="html-gap pdf-gap"></td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="2" class="view-row-two view-header-two">Angaben zur Metadatenspezifikation</td>
        </tr>
        <tr>
            <td colspan="2" class="html-gap pdf-gap"></td>
        </tr>
        <tr>
            <td class="view-property-label view-header-three">Spezifikation</td>
            <td class="view-property">{{ p['metadataStandardName'] }}</td>
        </tr>
        <tr>
            <td class="view-property-label view-header-three">Version</td>
            <td class="view-property"></td>
        </tr>
        <tr>
            <td class="view-property-label view-header-three">Browser Bild</td>
            <td class="view-property">{{ p['browserGraphic'] }}</td>
        </tr>
    </tbody>
</table>
{#<div class="html-gap pdf-gap"></div>#}
{# classification #}
   {# <table class="view-table">
        <thead>
            <tr>
                <tr>
                    <th colspan="4" class="view-row-one">
                        <div class="view-header-one">Klassifizierung</div>
                    </th>
                </tr>
            </tr>
            <tr>
                <th colspan="2" class="gap-row"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="view-property-label view-header-three">Geodatendienst</td>
                <td></td>
            </tr>
            <tr>
                <td class="view-property-label view-header-three">Version</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="4" class="html-gap pdf-gap"></td>
            </tr>
            <tr>
                <td colspan="4" class="view-row-two view-header-two">Dienste Operationen</td>
            </tr>
            <tr>
                <td colspan="4" class="html-gap pdf-gap"></td>
            </tr>
            <tr>
                <td class="view-property-label view-header-three">Operation</td>
                <td></td>
            </tr>
            <tr>
                <td class="view-property-label view-header-three">Platform</td>
                <td></td>
            </tr>
            <tr>
                <td class="view-property-label view-header-three">URL</td>
                <td></td>
            </tr>
        </tbody>
    </table>#}
    <div>
        <div class="html-gap pdf-gap"></div>
    </div>
    {# keyword #}
{#    <table class="view-table">
        <thead>
            <tr>
                <tr>
                    <th colspan="4" class="view-row-one">
                        <div class="view-header-one">Schlüsselwort</div>
                    </th>
                </tr>
            </tr>
            <tr>
                <th colspan="2" class="gap-row"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="view-property-label view-header-three">Property</td>
                <td></td>
            </tr>
        </tbody>
    </table>#}
    {# geographic #}
{#    <table class="view-table">
        <thead>
            <tr>
                <tr>
                    <th colspan="4" class="view-row-one">
                        <div class="view-header-one">Geografischer Standort</div>
                    </th>
                </tr>
            </tr>
            <tr>
                <th colspan="2" class="gap-row"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="view-property-label view-header-three">Property</td>
                <td></td>
            </tr>
        </tbody>
    </table>#}
    {# temporal #}
    {#<table class="view-table">
        <thead>
            <tr>
                <tr>
                    <th colspan="4" class="view-row-one">
                        <div class="view-header-one">Zeitbezug</div>
                    </th>
                </tr>
            </tr>
            <tr>
                <th colspan="2" class="gap-row"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="view-property-label view-header-three">Property</td>
                <td></td>
            </tr>
        </tbody>
    </table>#}
    {# conformity #}
    {#<table class="view-table">
        <thead>
            <tr>
                <tr>
                    <th colspan="4" class="view-row-one">
                        <div class="view-header-one">Übereinstimmung</div>
                    </th>
                </tr>
            </tr>
            <tr>
                <th colspan="2" class="gap-row"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="view-property-label view-header-three">Property</td>
                <td></td>
            </tr>
        </tbody>
    </table>#}
    {# constraints #}
{#    <table class="view-table">
        <thead>
            <tr>
                <tr>
                    <th colspan="4" class="view-row-one">
                        <div class="view-header-one">Beschränkungen</div>
                    </th>
                </tr>
            </tr>
            <tr>
                <th colspan="2" class="gap-row"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="view-property-label view-header-three">Property</td>
                <td></td>
            </tr>
        </tbody>
    </table>#}
    {# responsibleparty #}
    {#<table class="view-table">
        <thead>
            <tr>
                <tr>
                    <th colspan="4" class="view-row-one">
                        <div class="view-header-one">Zuständige Stelle</div>
                    </th>
                </tr>
            </tr>
            <tr>
                <th colspan="2" class="gap-row"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="view-property-label view-header-three">Property</td>
                <td></td>
            </tr>
        </tbody>
    </table>#}
