{% import 'MetadorBasicProfileBundle:Makro:export.html.twig' as export %}

<style>
    {#.view-table, th, td{
        border: 1px solid black;
    }#}
    .view-table{
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: left;
    }
    .view-header-one{
        font-size: 2.5em;
        font-weight: bold;
    }
    .view-row-one{
        border-bottom: 5px solid #4dacfe;
    }
    .view-header-two{
        font-size: 1.25em;
        font-weight: bold;
        color: #4dacfe;
    }
    .view-header-three{
        font-size: 1em;
        font-weight: bold;
    }
    .view-bastract{
        width:80%;
    }
    .view-update-time-label{
        width:80%;
        text-align: right;
    }
    .view-update-time{
        width: 20%;
        font-size: 1.25em;
        text-align: center;
    }
    .view-property-label{
        width:30%;
        word-break: break-word;
    }
    .view-property{
        width:70%;
        word-break: break-word;
    }
</style>
<table class="view-table">
    <tbody>
        {{ export.topic_one(array_get(p, 'title')) }}
        {% if p['alternateTitle'] is defined and p['alternateTitle'] is iterable %}
            {% for title in p['alternateTitle']  %}
                <tr>
                    <th colspan="2" class="view-header-two"><i>{{ title }}</i></th>
                </tr>
            {% endfor %}
        {% elseif p['alternateTitle'] is defined and p['alternateTitle'] is not empty %}
            <tr>
                <th colspan="2" class="view-header-two"><i>{{ array_get(p, 'alternateTitle', '') }}</i></th>
            </tr>
        {% endif %}
        <tr>
            <td colspan="2" class="html-gap pdf-gap"></td>
        </tr>
        <tr>
            <td class="view-header-two view-update-time-label">Letzte Aktualisierung:</td>
            <td class="view-update-time"><i>{{ array_get(p, '_update_time', '') }}</i></td>
        </tr>
        <tr>
            <td colspan="2" class="html-gap pdf-gap"></td>
        </tr>
        <tr>
            <td>{{ array_get(p, 'abstract', '') }}</td>
            <td><img style="max-width: 200px; max-height: 200px;" src="{{ array_get(p, 'graphicOverview:0:fileName','') }}"></td>
        </tr>
    </tbody>
</table>
<div class="html-gap pdf-gap"></div>
<table class="view-table">
        {% if array_has_value(array_get(p,'fileIdentifier'))
            or array_has_value(array_get(p,'operatesOn',''))
            or array_has_value(array_get(p,'dateStamp'))
            or array_has_value(array_get(p,'hierarchyLevel'))
            or array_has_value(array_get(p,'characterSet'))
            or array_has_value(array_get(p,'language'))
            or array_has_value(array_get(p,'standardName'))
            or array_has_value(array_get(p,'standardVersion'))
        %}
            {{ export.topic_two('Metadateneigenschaften') }}
        {% endif %}

        {% if array_has_value(array_get(p,'fileIdentifier'))
            or array_has_value(array_get(p,'dateStamp'))
            or array_has_value(array_get(p,'hierarchyLevel'))
        %}
            {{ export.topic_three('Identifikation/Beziehung') }}
        {% endif %}

        <tr><td colspan="2" class="html-gap pdf-gap"></td></tr>
        {{ export.line('File-Identifikator', array_get(p,'fileIdentifier', '')) }}
        {{ export.line('Letzte Änderung', array_get(p,'dateStamp', '')) }}
        {{ export.line('Beschreibung der Hierarchieebene', array_get(p,'hierarchyLevel', '')) }}

        {% if array_has_value(array_get(p,'operatesOn','')) %}
            {{ export.topic_three('Daten-Service-Kopplung') }}
        {% endif %}
        {{ export.multiline_keyvalue('URI', array_get(p,'operatesOn','')) }}
        {{ export.line('Kopplungsart der Dienst-/Daten-Metadaten', array_get(p,'couplingType','')) }}

        {% if array_has_value(array_get(p,'characterSet'))
            or array_has_value(array_get(p,'language'))
            or array_has_value(array_get(p,'standardName'))
            or array_has_value(array_get(p,'standardVersion'))
        %}
            {{ export.topic_three('Beschreibung') }}
        {% endif %}
        {{ export.line('Zeichencodestandard', array_get(p,'characterSet', '')) }}
        {{ export.line('Sprache', array_get(p,'language', '')) }}
        {{ export.line('Spezifikation', array_get(p,'standardName', '')) }}
        {{ export.line('Version der Spezifikation', array_get(p,'standardVersion', '')) }}
</table>
<div class="html-gap pdf-gap"></div>
<table class="view-table">
    {% if array_has_value(array_get(p,'identifierCode', ''))
        or array_has_value(array_get(p,'identifierCodespace', ''))
        or array_has_value(array_get(p,'title', ''))
        or array_has_value(array_get(p,'alternateTitle', ''))
        or array_has_value(array_get(p,'identLanguage', ''))
        or array_has_value(array_get(p,'abstract', ''))
        or array_has_value(array_get(p,'graphicOverview', ''))
        or array_has_value(array_get(p,'referenceSystemInfo', ''))
        or array_has_value(array_get(p,'bbox',''))
        or array_has_value(array_get(p,'temporalExtentBegin',''))
        or array_has_value(array_get(p,'transferOptions', ''))
        or array_has_value(array_get(p,'dcp', ''))
        or array_has_value(array_get(p,'creationDate',''))
        or array_has_value(array_get(p,'publicationDate',''))
        or array_has_value(array_get(p,'revisionDate',''))
        or array_has_value(array_get(p,'distributionFormat',''))
    %}
        {{ export.topic_two('Dateneigenschaften') }}
    {% endif %}

    {% if array_has_value(array_get(p,'identifierCode', ''))
        or array_has_value(array_get(p,'identifierCodespace', ''))
    %}
        {{ export.topic_three('Ressourcen-Identifikator') }}
    {% endif %}
    {{ export.line('Identifikator (code)', array_get(p,'identifierCode', '')) }}
    {{ export.line('Namensraum (codespace)', array_get(p,'identifierCodespace', '')) }}

    {% if array_has_value(array_get(p,'title', ''))
        or array_has_value(array_get(p,'alternateTitle', ''))
        or array_has_value(array_get(p,'identLanguage', ''))
        or array_has_value(array_get(p,'abstract', ''))
    %}
        {{ export.topic_three('Beschreibung') }}
    {% endif %}

    {{ export.line('Titel', array_get(p,'title', '')) }}
    {{ export.multiline_value('Alternativtitel', array_get(p,'alternateTitle','')) }}
    {{ export.line('Sprache des Datenbestandes', array_get(p,'identLanguage', '')) }}
    {{ export.line('Kurzbeschreibung', array_get(p,'abstract', '')) }}

    {% if array_has_value(array_get(p,'graphicOverview')) %}
        {{ export.topic_three('Vorschaubild') }}
    {% endif %}
    {% for  graphic in array_get(p,'graphicOverview', '') %}
        {% if  graphic.fileDescription is defined %}
            {{ export.line('Browser Bild Beschreibung', graphic.fileDescription) }}
        {% endif %}
        {{ export.line('Browser Bild', graphic.fileName) }}
    {% endfor %}

    {% if array_has_value(array_get(p,'transferOptions'))
        or array_has_value(array_get(p,'operationName',''))%}
        {{ export.topic_three('Ressourcenverweis') }}
    {% endif %}
    {% if is_granted('ROLE_SYSTEM_USER') %}
        {{ export.line('Standard-Aufrufparameter der Schnittstelle', array_get(p,'operationName','')) }}
        {% if array_get(p,'hierarchyLevel', '') == 'service' %}
            {{ export.line('Softwaretechnische Basis für den Aufruf', array_get(p,'dcp', '')) }}
        {% endif %}
        {{ export.line('Adresse für den Online-Zugriff', array_get(p,'transferOptions:url'))}}
        {{ export.line('Beschreibung der URL', array_get(p,'transferOptions:urlDescription')) }}
        {{ export.line('Funktion der URL', array_get(p,'transferOptions:function')) }}
    {% endif %}

    {% if array_has_value(array_get(p,'referenceSystemInfo','')) %}
        {{ export.topic_three('Referenzsystem') }}
    {% endif %}
    {% for key, referenceSystemInfo in array_get(p,'referenceSystemInfo', '') %}
        {{ export.line('Titel',array_get(p,'referenceSystemInfo:' ~ key ~ ':title')) }}
        {{ export.line('EPSG-Code', array_get(p,'referenceSystemInfo:' ~ key ~ ':code'))}}
        {{ export.line('Datum', array_get(p,'referenceSystemInfo:' ~ key ~ ':date')) }}
        {{ export.line('Namensraum der EPSG', array_get(p,'referenceSystemInfo:' ~ key ~ ':codeSpace')) }}
        {{ export.line('Art des Datums', array_get(p,'referenceSystemInfo:' ~ key ~ ':dateType')) }}
        {{ export.line('Version', array_get(p,'referenceSystemInfo:' ~ key ~ ':version')) }}
    {% endfor %}

    {% if array_has_value(array_get(p,'bbox','')) %}
        {{ export.topic_three('Ausdehnungsinformation - Begrenzungsrechteck') }}
    {% endif %}
    {{ export.line('Nördlichste Koordinate (Latitude)', array_get(p,'bbox:nLatitude')) }}
    {{ export.line('Östlichste Koordinate (Longitude)', array_get(p,'bbox:eLongitude')) }}
    {{ export.line('Südlichste Koordinate (Latitude)', array_get(p,'bbox:sLatitude')) }}
    {{ export.line('Westlichste Koordinate (Longitude)', array_get(p,'bbox:wLongitude')) }}
    {{ export.line('Umschliesst, Ausschliesst', array_get(p,'bbox:extentTypeCode')) }}

    {% if array_has_value(array_get(p,'temporalExtentBegin',''))
        or array_has_value(array_get(p,'temporalExtentEnd',''))
    %}
        {{ export.topic_three('Zeitspanne der Gültigkeit') }}
    {% endif %}
    {{ export.line('Anfang', array_get(p,'temporalExtentBegin','')) }}
    {{ export.line('Ende', array_get(p,'temporalExtentEnd','')) }}

    {% if array_has_value(array_get(p,'creationDate',''))
        or array_has_value(array_get(p,'publicationDate',''))
        or array_has_value(array_get(p,'revisionDate','')) %}
        {{ export.topic_three('Erstellung, Veröffentlichung, Aktualisierung') }}
    {% endif %}
    {{ export.line('Erstellungsdatum', array_get(p,'creationDate','')) }}
    {{ export.line('Veröffentlichung', array_get(p,'publicationDate','')) }}
    {{ export.line('Überarbeitung', array_get(p,'revisionDate','')) }}

    {% if array_has_value(array_get(p,'distributionFormat:0')) %}
        {{ export.topic_three('Formate') }}
    {% endif %}
    {% for key, distributionFormat in array_get(p,'distributionFormat', '') %}
        {{ export.line('Bezeichnung', array_get(p,'distributionFormat:' ~ key ~ ':name')) }}
        {{ export.line('Version', array_get(p,'distributionFormat:' ~ key ~ ':version')) }}
        {{ export.line('Spezifikation', array_get(p,'distributionFormat:' ~ key ~ ':specification')) }}
        {{ export.line('Dekompressionsmethode', array_get(p,'distributionFormat:' ~ key ~ ':fileDecompressionTechnique')) }}
    {% endfor %}
</table>
<div class="html-gap pdf-gap"></div>
<table class="view-table">
    {% if array_has_value(array_get(p,'useLimitation:0',''))
        or array_has_value(array_get(p,'useConstraints:0',''))
        or array_has_value(array_get(p,'accessConstraints:0',''))
        or array_has_value(array_get(p,'report',''))
    %}
        {{ export.topic_two('Rechtliches') }}
    {% endif %}

    {% if array_has_value(array_get(p,'useLimitation:0','')) %}
        {{ export.topic_three('Eignungsbeschränkungen') }}
        {{ export.multiline_keyvalue('Einschränkung der Eignung', array_get(p,'useLimitation')) }}
    {% endif %}

    {% if array_has_value(array_get(p,'useConstraints:0','')) %}
        {{ export.topic_three('Nutzungsbedingungen') }}
        {% for key, useConstraints in array_get(p,'useConstraints', '') %}
            {{ export.line('Nutzungseinschränkung', array_get(p,'useConstraints:' ~ key ~ ':RestrictionCode')) }}
            {{ export.line('weitere Beschreibung der Einschränkung', array_get(p,'useConstraints:' ~ key ~ ':otherConstraints')) }}
        {% endfor %}
    {% endif %}

    {% if array_has_value(array_get(p,'accessConstraints:0','')) %}
        {{ export.topic_three('Zugangsbeschränkungen') }}
        {% for key, useConstraints in array_get(p,'accessConstraints:', '') %}
            {{ export.line('Nutzungseinschränkung', array_get(p,'accessConstraints:' ~ key ~ ':RestrictionCode')) }}
            {{ export.line('Beschreibung der Zugriffs- bzw. Zugangseinschränkung', array_get(p,'accessConstraints:' ~ key ~ ':otherConstraints')) }}
        {% endfor %}
    {% endif %}

    {% if array_has_value(array_get(p,'report','')) %}
        {{ export.topic_three('Übereinstimmung') }}
    {% endif %}
    {% for key, report in array_get(p,'report', '') %}
        {{ export.line('Name der Richtlinie, Norm, Spezifikation', array_get(p,'report:' ~ key ~ ':title')) }}
        {{ export.line('Version, Edition', array_get(p,'report:' ~ key ~ ':edition')) }}
        {{ export.line('Erstellungsdatum', array_get(p,'report:' ~ key ~ ':creationDate')) }}
        {{ export.line('Veröffentlichung', array_get(p,'report:' ~ key ~ ':publicationDate')) }}
        {{ export.line('Überarbeitung', array_get(p,'report:' ~ key ~ ':revisionDate')) }}
        {{ export.line('Art des Datums', array_get(p,'report:' ~ key ~ ':dateType')) }}
        {{ export.line('Angabe zur Konformität', array_get(p,'report:' ~ key ~ ':explanation')) }}
        {{ export.line('Konformitätsgrad', array_get(p,'report:' ~ key ~ ':pass')) }}
    {% endfor %}
</table>
<div class="html-gap pdf-gap"></div>
<table class="view-table">
    {% if array_get(p,'distributionContact','')
        or array_has_value(array_get(p,'responsibleParty',''))
        or array_has_value(array_get(p,'contact', '')) %}
        {{ export.topic_two('Verantwortlichkeit') }}
    {% endif %}

    {% if array_has_value(array_get(p,'responsibleParty','')) %}
        {{ export.topic_three('Verantwortlichkeit für den Datensatz') }}
    {% endif %}
    {% for key,distContact in  array_get(p,'responsibleParty','') %}
        {{ export.line('UUID', array_get(p,'responsibleParty:' ~ key ~':uuid')) }}
        {{ export.line('Name der Organisation', array_get(p,'responsibleParty:' ~ key ~':organisationName')) }}
        {{ export.line('Zuständige Person', array_get(p,'responsibleParty:' ~ key ~':individualName')) }}
        {{ export.line('Funktion der Person', array_get(p,'responsibleParty:' ~ key ~':positionName')) }}
        {{ export.line('Rolle', array_get(p,'responsibleParty:' ~ key ~':role')) }}
        {{ export.multiline_value('Email',array_get(p, 'responsibleParty:' ~ key ~':email')) }}
        {{ export.line('Land / Staat', array_get(p,'responsibleParty:' ~ key ~':country')) }}
        {{ export.line('Bundesland', array_get(p,'responsibleParty:' ~ key ~':administrativeArea')) }}
        {{ export.line('Straße und Hausnummer / Postfach', array_get(p,'responsibleParty:' ~ key ~':deliveryPoint')) }}
        {{ export.line('Stadt / Ort', array_get(p,'responsibleParty:' ~ key ~':city')) }}
        {{ export.line('PLZ', array_get(p,'responsibleParty:' ~ key ~':postalCode')) }}
        {{ export.line('Telefonnummer', array_get(p,'responsibleParty:' ~ key ~':voice')) }}
        {{ export.line('Faxnummer', array_get(p,'responsibleParty:' ~ key ~':facsimile')) }}
        {{ export.line('Internetadresse', array_get(p,'responsibleParty:' ~ key ~':url')) }}
        {{ export.line('Beschreibung der Internetadresse', array_get(p,'responsibleParty:' ~ key ~':urlDescription')) }}
        {{ export.line('Erreichbarkeit',  array_get(p,'responsibleParty:' ~ key ~':hoursOfService')) }}
    {% endfor %}

    {% if array_has_value(array_get(p,'contact:','')) %}
        {{ export.topic_three('Für Metadaten verantwortliche Stelle') }}
    {% endif %}
    {% for key,distContact in  array_get(p,'contact','') %}
        {{ export.line('UUID', array_get(p,'contact:' ~ key ~':uuid')) }}
        {{ export.line('Name der Organisation', array_get(p,'contact:' ~ key ~':organisationName')) }}
        {{ export.line('Zuständige Person', array_get(p,'contact:' ~ key ~':individualName')) }}
        {{ export.line('Funktion der Person', array_get(p,'contact:' ~ key ~':positionName')) }}
        {{ export.line('Rolle', array_get(p,'contact:' ~ key ~':role')) }}
        {{ export.multiline_value('Email',array_get(p, 'contact:' ~ key ~':email')) }}
        {{ export.line('Land / Staat', array_get(p,'contact:' ~ key ~':country')) }}
        {{ export.line('Bundesland', array_get(p,'contact:' ~ key ~':administrativeArea')) }}
        {{ export.line('Straße und Hausnummer / Postfach', array_get(p,'contact:' ~ key ~':deliveryPoint')) }}
        {{ export.line('Stadt / Ort', array_get(p,'contact:' ~ key ~':city')) }}
        {{ export.line('PLZ', array_get(p,'contact:' ~ key ~':postalCode')) }}
        {{ export.line('Telefonnummer', array_get(p,'contact:' ~ key ~':voice')) }}
        {{ export.line('Faxnummer', array_get(p,'contact:' ~ key ~':facsimile')) }}
        {{ export.line('Internetadresse', array_get(p,'contact:' ~ key ~':url')) }}
        {{ export.line('Beschreibung der Internetadresse', array_get(p,'contact:' ~ key ~':urlDescription')) }}
        {{ export.line('Erreichbarkeit',  array_get(p,'contact:' ~ key ~':hoursOfService')) }}
    {% endfor %}
</table>
