<h1>{% trans %}Klassifizierung{% endtrans %}</h1>
{#
    TOPIC CATEGORY
#}
{% set id = 'p[topicCategory][]' %}

<div class="oneColBox">
    <label>
        <div class="icon mandatory icon-circle icon-circle"></div>{{'Themenkategorie'|trans}}:
    </label>
    <select class="oneCol1 no-value" id="select_{{ id|md_id }}">
        <option value=""></option>
        <option value="intelligenceMilitary">{% trans %}Aufklärung/Militär{% endtrans %}</option>
        <option value="structure">{% trans %}Bauwerke{% endtrans %}</option>
        <option value="imageryBaseMapsEarthCover">{% trans %}Bilddaten/Basiskarten/Landbedeckung{% endtrans %}</option>
        <option value="inlandWaters">{% trans %}Binnengewässer{% endtrans %}</option>
        <option value="biota">{% trans %}Biologie{% endtrans %}</option>
        <option value="geoscientificInformation">{% trans %}Geowissenschaften{% endtrans %}</option>
        <option value="society">{% trans %}Gesellschaft{% endtrans %}</option>
        <option value="health">{% trans %}Gesundheitswesen{% endtrans %}</option>
        <option value="boundaries">{% trans %}Grenzen{% endtrans %}</option>
        <option value="elevation">{% trans %}Höhenangaben{% endtrans %}</option>
        <option value="climatologyMeteorologyAtmosphere">{% trans %}Klimatologie/Meteorologie/Atmosphäre{% endtrans %}</option>
        <option value="farming">{% trans %}Landwirtschaft{% endtrans %}</option>
        <option value="oceans">{% trans %}Meere{% endtrans %}</option>
        <option value="location">{% trans %}Ortsangaben{% endtrans %}</option>
        <option value="planningCadastre">{% trans %}Planungsunterlagen/Kataster{% endtrans %}</option>
        <option value="environment">{% trans %}Umwelt{% endtrans %}</option>
        <option value="utilitiesCommunication">{% trans %}Ver- und Entsorgung/Nachrichtenwesen{% endtrans %}</option>
        <option value="transportation">{% trans %}Verkehrswesen{% endtrans %}</option>
        <option value="economy">{% trans %}Wirtschaft{% endtrans %}</option>
    </select>
    <div class="btn-group">
        <div class="last showHelp"  {{ id|md_data_obj }}>
            <div class="icon icon-question"></div>
        </div>
    </div>

    <div class="clear"></div>

    <div class="singleResult" id="result_{{ id|md_id }}">
        {% if p['topicCategory'] is defined %}
        {% for value in p['topicCategory'] %}
        {% if value is not empty %}
        <div>
            <input type="hidden" name="{{ id }}" value="{{ value }}" />
            <label>{{ value }}</label>
            <div class="btn cmdDeleteSingleValue">
                <div class="icon icon-bin2"></div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="clear"></div>
    </div>
</div>

