<h1>Schlüsselwort</h1>

{#
    FREE KEYWORD
#}
<fieldset class="oneColBox">
    <legend>{{'Schlüsselwort'|trans}}</legend>

    {% set id = 'p[keyword][value]' %}

    <label>
        <div class="icon mandatory icon-circle icon-circle"></div>{{'Schlüsselwort'|trans}}:
    </label>
    <input id="{{ id|md_id }}" type="text" value="" class="oneCol1 no-value"/>
    <div class="btn-group">
        <div class="last showHelp" {{ id|md_data_obj }}>
            <div class="icon icon-question"></div>
        </div>
    </div>
    <div class="clear"></div>
    <br/>
    <label>
        {{'Herkunft'|trans}}:
    </label>

    <div class="threeCol">
        {% set id = 'p[keyword][title]' %}

        <div class="left">
            <label>
                <div class="icon mandatory icon-circle icon-circle"></div>{{'Titel'|trans}}:
            </label>
            <input id="{{ id|md_id }}" type="text" value="" class="threeCol1 no-value"/>
            <div class="btn-group">
                <div class="last showHelp" {{ id|md_data_obj }}>
                    <div class="icon icon-question"></div>
                </div>
            </div>
        </div>

        {% set id = 'p[keyword][date]' %}

        <div class="center">
            <label>
                <div class="icon mandatory icon-circle icon-circle"></div>{{'Datum'|trans}}:
            </label>
            <input id="{{ id|md_id }}" type="text" value="" class="threeCol1 datepicker no-value"/>
            <div class="btn-group">
                <div class="last showHelp" {{ id|md_data_obj }}>
                    <div class="icon icon-question"></div>
                </div>
            </div>
        </div>

        {% set id = 'p[keyword][type]' %}

        <div class="right">
            <label>
                <div class="icon mandatory icon-circle icon-circle"></div>{{'Datum der'|trans}}:
            </label>
            <div class="fr">
                <div class="btn-group">
                    <div class="last showHelp" {{ id|md_data_obj }}>
                        <div class="icon icon-question"></div>
                    </div>
                </div>
                <select id="{{ id|md_id }}" class="threeCol1 no-value">
                    <option value=""></option>
                    <option value="creation">Erstellungsdatum</option>
                    <option value="revision">Überarbeitung</option>
                    <option value="publication">Veröffentlichung</option>
                </select>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <hr/>
    <div id="add_keyword" class="btn right"><div class="icon icon-plus"></div></div>
    <div class="clear"></div>
</fieldset>

{% set id = 'p[keyword][repo]' %}

<div class="twoColBox">
    <label class="displayLeft">
        <div class="icon mandatory icon-circle icon-circle"></div>{{'Mindestens ein Schlüsselwort aus "GEMET - INSPIRE themes, version 1.0" verpflichtend.'|trans}}
    </label>
    <div class="clear"></div>

    <div class="left">
        <label>
            <div class="icon conditional icon-circle"></div>{{'Repository'|trans}}:
        </label>
        <select class="twoCol1 keywordRepo no-value">
            {% for repo, data in examples['keywords'] %}
            <option value="{{ loop.index }}">{{ repo }}</option>
            {% endfor %}
        </select>
        <div class="btn-group">
            <div class="last showHelp" {{ id|md_data_obj }}>
                <div class="icon icon-question"></div>
            </div>
        </div>
    </div>
    <div class="right">
        <label>
            <div class="icon conditional icon-circle"></div>{{'Schlüsselwort'|trans}}:
        </label>
        <div class="fr">
            {% for repo, data in examples['keywords'] %}
            <select data-id="{{ loop.index }}"
                    data-title="{{ repo }}"
                    data-date="{{ data.date }}"
                    data-type="{{ data.type }}"
                class="twoCol0 keywordRepoValue no-value {{ loop.index == 1 ? 'act' : '' }}" title="{{ repo }}">
                <option></option>
                {% for option in data.value %}
                <option>{{ option }}</option>
                {% endfor %}
            </select>
            {% endfor %}
        </div>
    </div>
    <div class="clear"></div>
</div>

<hr/>

{% set id = 'p[keyword]' %}

<div class="oneColBox">
    <div class="singleResult" id="result_{{ id|md_obj_id }}">
        {% if p['keyword'] is defined %}
        {% for repo, data in p['keyword'] %}
        {% for keyword in data.value %}
        <div>
            <input type="hidden" name="p[keyword][{{ repo }}][date]" value="{{ data.date }}" />
            <input type="hidden" name="p[keyword][{{ repo }}][type]" value="{{ data.type }}" />
            <input type="hidden" name="p[keyword][{{ repo }}][value][]" value="{{ keyword }}" />
            <label>{{ repo }} - {{ keyword }}</label>
            <div class="btn cmdDeleteSingleValue">
                <div class="icon icon-bin2"></div>
            </div>
        </div>
        {% endfor %}
        {% endfor %}
        {% endif %}
        <div class="clear"></div>
    </div>
</div>
