<h1>{% trans %}Qualität und Gültigkeit{% endtrans %}</h1>

{#
    LINEAGE
#}
{% set id = 'p[lineage]' %}
{% set val = p['lineage'] is defined ? p['lineage'] : '' %}
<div class="oneColBox">
    <label class="displayLeft" for="{{ id|md_id }}">
        <div class="icon optional icon-circle"></div>{{'Herkunft'|trans}}:
    </label>
    <div class="btn-group displayRight">
        <div class="single showHelp" {{ id|md_data_obj }}><div class="icon icon-question"></div></div>
    </div>
    <textarea name="{{ id }}" id="{{ id|md_id }}" class="oneCol0">{{ val }}</textarea>
    <div class="clear"></div>
</div>

{#
    RESOLUTION
#}
{% set id = 'p[resolution]' %}

{% if p['resolution'] is not defined %}
    {% set p = p|merge({'resolution': [{'denominator':'','distance':'','uom':''}]}) %}
{% endif %}
{% set length = p['resolution']|length -1 %}

<h2>{% trans %}Räumliche Auflösung{% endtrans %}</h2>
<div class="duplicatable" data-count="{{ length }}">
    <ul>
        {% for key,value in p['resolution'] %}
        <li data-id="{{ key }}" class="tab {% if key == 0 %}act{% endif %}">{{ key }}</li>
        {% endfor %}
        <li class="duplicate"><div class="icon icon-plus"></div></li>
        <li class="menu delete"><div class="icon icon-bin2"></div></li>
        <li class="menu showHelp" {{ id|md_data_obj }}><div class="icon icon-question"></div></li>
    </ul>
    <div class="content">
        {% for key,value in p['resolution'] %}

        <div class="nr{{ key }} {% if key == 0 %}act{% endif %}">
            <div class="twoColBox">

                {% set id = 'p[resolution][' ~ key ~ '][denominator]' %}
                {% set val = value['denominator'] is defined ? value['denominator'] : '' %}

                <div class="left">
                    <label for="{{ id|md_id }}">
                        <div class="icon optional icon-circle"></div>{{'Äquivalenter Maßstab'|trans}}:
                    </label>
                    <input name="{{ id }}" id="{{ id|md_id }}" type="text" value="{{ val }}"  class="twoCol1"/>
                    <div class="btn-group">
                        <div class="last showHelp" {{ id|md_data_obj }}><div class="icon icon-question"></div></div>
                    </div>
                </div>

                <div class="right"></div>
                <div class="clear"></div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
