{% extends 'WhereGroupThemeBundle::base.html.twig' %}

{% block title %}Metador 2.1{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/wheregrouptheme/css/screen.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/wheregrouptheme/css/datepicker/zebra_datepicker_metallic.css') }}">
{% endblock %}

{% block body %}
<div class="page">
    <div class="top">
        <a href="{{ path('metador_dashboard') }}">
            <img src="{{ asset('bundles/wheregrouptheme/img/logo3.png') }}" class="logo" />
        </a>
        <span class="version">{% trans %}Version{% endtrans %}: {{ version }}</span>
        <h1 class="demoTitle">{% trans %}Metadatenerfassung für Alle{% endtrans %}.</h1>
    </div>
    <div class="center">
        <div class="content demo">
            <div class="left">
                <a href="http://www.wheregroup.com">
                    <img src="{{ asset('bundles/wheregrouptheme/img/Wheregroup_logo_418x110.png') }}" />
                </a>
                <h2>{% trans %}Erzeugen, Bearbeiten, Validieren und Exportieren von INSPIRE-konformen Metadatensätzen für Daten und Dienste{% endtrans %}.</h2>
                <p>{% trans %}Als Demonutzer angemeldet, steht Ihnen die volle Funktionalität von MeTaDor2 zur Verfügung. Ihre Daten können von allen anderen Demonutzern betrachtet und editiert werden{% endtrans %}.</p>
                <p>{% trans %}Nutzen Sie die Schnittstelle der GDI-DE Testsuite um Ihre Metadaten auf Konformität zu den Standards zu testen{% endtrans %}.</p>
            </div>
            <div class="right">
                <form action="{{ path('login_check') }}" method="post" class="demoLoginForm">
                    <p>{% trans %}Demo Benutzer{% endtrans %}: <b>metador</b>, {% trans %}Kennwort{% endtrans %}: <b>test</b>.</p>
                    <hr/>
                    <label for="username">{% trans %}Benutzer{% endtrans %}:</label>
                    <input type="text" id="username" name="_username" value="metador" />
                    <br/>
                    <label for="password">{% trans %}Kennwort{% endtrans %}:</label>
                    <input type="password" id="password" name="_password" value="test" />
                    <input type="hidden" name="_target_path" value="/" />
                    <br/><br/>
                    <input type="submit" name="login" value="login" />
                </form>
            </div>

            <div class="center">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}
