{% extends 'WhereGroupThemeBundle::templateWithoutMenu.html.twig' %}

{% block title %}MeTaDor{% endblock %}

{% block content %}
<h3>Folgende Diensten sind bereits vorhanden.</h3>
<p>Markierte Dienste werden überschrieben.</p>

<form method="post" action="{{ path('wms_url_override') }}">
{% for uuid,service in services if not service['processed'] %}
    <input type="checkbox" name="services[{{ uuid }}][override]" value="1" checked="checked" /> {{ service['title'] }}
    <input type="hidden" name="services[{{ uuid }}][url]" value="{{ service['url'] }}" />
    <input type="hidden" name="services[{{ uuid }}][id]" value="{{ service['id'] }}" />
    <br/>
{% endfor %}
    <br/>
    <button type="submit">überschreiben</button>
</form>
{% endblock %}
