{% extends 'MetadorThemeBundle:Theme:template.html.twig' %}

{% if profile is defined %}
    {% set formPath   = 'metadata_index' %}
    {% set formParams = { 'profile' :  profile } %}
{% else %}
    {% set formPath   = 'metador_home' %}
    {% set formParams = {} %}
{% endif %}

{% block center %}
    {% include 'MetadorThemeBundle:Home:map.html.twig' %}

    <div class="home -js-home">
        <div class="source">
            <ul class="source-list">
                {% for slug, source in sourceConfig %}
                    <li class="source-liste-item -js-source {% if loop.first %}active{% endif %}"
                        data-slug="{{ slug }}">{{ source['name'] }}</li>
                {% endfor %}
            </ul>
            {% include 'MetadorThemeBundle:Home:new-profile.html.twig' %}
        </div>
        <div class="search-content">
            <div class="grid space responsive">
                <div class="row r-2">
                    <div class="col c-1-4">
                        <div class="filter-wrapper">
                            <div class="filter-header">Profil</div>
                            <div class="filter-content">
                                <div class="filter-content-row"><span class="icon-check-square"></span> Dataset</div>
                                <div class="filter-content-row"><span class="icon-square-o"></span> Service</div>
                            </div>
                        </div>
                        <div class="filter-wrapper">
                            <div class="filter-header">Profil</div>
                            <div class="filter-content">
                                <div class="filter-content-row"><span class="icon-check-square"></span> Dataset</div>
                                <div class="filter-content-row"><span class="icon-square-o"></span> Service</div>
                            </div>
                        </div>
                    </div>
                    <div class="col c-3-4">
                        {% include 'MetadorThemeBundle:Theme:notify.html.twig' %}
                        <div class="content" id="search-result"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/metadormap/js/map.js') }}"></script>
    <script src="{{ asset('bundles/metadormap/js/map-ui.js') }}"></script>
    <script src="{{ asset('bundles/metadortheme/home.js') }}"></script>
    <script src="{{ asset('bundles/metadorcore/js/storage.js') }}"></script>
    <script src="{{ asset('bundles/metadorcore/js/search.js') }}"></script>
{% endblock %}
