{% for slug, source in sourceConfig  %}
<div class="profile-menu -js-profile-menu {% if loop.first %}active{% endif %}" id="source-{{ slug }}">
    {% if app.user.username is defined %}
    <div class="profile-menu-btn">
        {% if source['profiles']|length == 1 %}
        <div class="btn info medium">
            <a href="{{ path('metadata_new', { source: slug, profile: source['profiles']|keys|first }) }}" class="">
                {{ 'new_profile'|trans({'%profile%': source['profiles']|first}) }}
            </a>
        </div>
        {% elseif source['profiles']|length > 1 %}
        <div class="btn info medium right -js-show-tooltip" data-tooltip-id="profile-menu-dialog" data-tooltip-position="right">
            {% trans %}new_profiles{% endtrans %}
            <span class="icon-sort-desc"></span>
        </div>
        <div class="profile-menu-dialog" id="profile-menu-dialog">
            {% for profileKey, profile in source['profiles'] %}
            <a href="{{ path('metadata_new', { source: slug, profile: profileKey }) }}" class="profile-menu-item">{{ profile|trans }}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endfor %}
