{% if rows is defined and rows|length == 0 %}
    <div class="notify info text-center">
        Es konnten leider keine Daten gefunden werden.
    </div>
{% endif %}

{% include 'MetadorThemeBundle:Template:paging.html.twig' with { paging: paging } only %}

{% if rows is defined and rows is iterable %}
    {% for row in rows if is_granted('view', row.object|json_decode(true)) %}
        {% set p = row.object|json_decode(true) %}
        {% set editable = app.user and is_granted('edit', p) %}
        {% set title = p.title is defined and p.title is not empty ? p.title : 'noname' %}

        <div class="result" data-metadata-uuid="{{ p['_uuid'] }}">
            {% if p['graphicOverview'][0]['fileName'] is defined and p['graphicOverview'][0]['fileName'] is not empty %}
                <img src="{{ p['graphicOverview'][0]['fileName'] }}" class="-js-preview-image result-graphic" />
            {% else %}
                <img src="{{ asset('bundles/metadortheme/img/preview.png') }}" class="-js-preview-image result-graphic" />
            {% endif %}

            <div class="result-title">
                {% if app.user %}
                    <a href="{{ path('metadata_edit', { 'profile' : p['_profile'], 'id' : p['_id'] }) }}">
                        {{ title }}{% if p['_date'] is defined and p['_date'] is not empty %} | {{ p['_date'] }}{% endif %}
                    </a>
                {% else %}
                    <a href="{{ path('metador_export_html', { 'id' : p['_id'] }) }}">
                        {{ title }}{% if p['_date'] is defined and p['_date'] is not empty %} | {{ p['_date'] }}{% endif %}
                    </a>
                {% endif %}
            </div>

            <div class="result-abstract">
                {% if not array_is_empty(p, 'abstract') %}
                    {{ p['abstract']|teaser(400) }}
                {% endif %}
            </div>

            <div class="result-footer">
                <div class="left">
                    {% if not array_is_empty(p, '_public') %}
                        <span class="icon-earth" title="Öffentlich"></span>
                    {% endif %}

                    {% if not editable and p['_locked'] is defined and p['_locked'] %}
                        <span class="icon-lock2" title="Datensatz ist derzeitig gesperrt."></span>
                    {% endif %}

                    {% if p['dateStamp'] is defined %}
                        <span class="icon-calendar" title="{{ p['dateStamp'] }}"></span>
                    {% endif %}
                </div>
                <div class="right">
                    {% if app.environment == 'dev' %}
                        <a href="{{ path('metadata_validate', { 'id' : p['_id'] }) }}" class="link" target="_blank">validate</a>
                        <a href="{{ path('metadata_xpath', { 'id' : p['_id'] }) }}" class="link" target="_blank">xpath</a>
                        <a href="{{ path('metadata_test', { 'id' : p['_id'] }) }}" class="link" target="_blank">test</a>
                        <a href="{{ path('metador_export_obj', { 'id' : p['_id'] }) }}" class="link" target="_blank">object</a>
                        <a href="{{ path('metador_export_json', { 'id' : p['_id'] }) }}" class="link" target="_blank">json</a>
                    {% endif %}

                    <a href="{{ path('metador_export_pdf', { 'id' : p['_id'] }) }}" class="link" target="_blank">pdf</a>
                    <a href="{{ path('metador_export_html', { 'id' : p['_id'] }) }}" class="link" target="_blank">html</a>
                    <a href="{{ path('metador_export_xml', { 'id' : p['_id'] }) }}" class="link" target="_blank">xml</a>

                    {% if editable %}
                        <a href="{{ path('metadata_confirm', { 'profile': p['_profile'], 'id': p['_id'] }) }}">
                            <span class="icon-bin2" title="löschen"></span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}

{% include 'MetadorThemeBundle:Template:paging.html.twig' with { paging: paging } only %}
