{% if rows is defined and rows is not empty %}
{% for row in rows if is_granted('view', row.object|json_decode(true)) %}
    {% set editable = app.user and is_granted('edit', row.object|json_decode(true)) %}

    {% set title = row.title is defined ? row.title|teaser(75, true) : 'noname' %}

    {% if editable %}
        <a href="{{ path('metadata_edit', { 'source': row.source,'profile' : row.profile, 'id' : row.id }) }}">
            {{ title }}
        </a>
    {% else %}
        <a href="{{ path('metador_export_html', { 'id' : row.id }) }}">
            {{ title }}
        </a>
    {% endif %}



    <br>
    {#<div class="metadata-row clearfix" data-id="{{ row.id }}">#}
        {#<div class="left">#}
            {#{% if row.browserGraphic is defined and row.browserGraphic is not empty %}#}
                {#<img src="{{ row.browserGraphic }}" class="browser-graphic" />#}
            {#{% else %}#}
                {#<img src="{{ asset('bundles/metadortheme/img/preview.png') }}" class="browser-graphic" />#}
            {#{% endif %}#}
        {#</div>#}
        {#<div class="right">#}
            {#<div class="metadata-row-head clearfix">#}
                {#{% if row.title is defined and row.title is not empty %}#}
                {#<div class="title">#}
                    {#<a href="{{ path('metadata_edit', { 'source': row.source,'profile' : row.profile, 'id' : row.id }) }}">#}
                        {#{{ row.title|teaser(75, true) }}#}
                    {#</a>#}
                    {#{% if app.user and is_granted('edit', row) %}#}
                    {#{% else %}#}
                        {#<a href="{{ path('metador_export_html', { 'id' : row.id }) }}">#}
                            {#{{ row.title|teaser(75, true) }}#}
                        {#</a>#}
                    {#{% endif %}#}
                {#</div>#}
                {#{% endif %}#}
                {#{% if row.object.alternateTitle is defined and row.object.alternateTitle is not empty %}#}
                {#<div class="alternate-title">#}
                    {#{{ row.object.alternateTitle }}#}
                {#</div>#}
                {#{% endif %}#}
                {#<div class="user-date" title="Zuletzt bearbeitet von {{ row.updateUser.username }} am {{ row.updateTime|date("d.m.Y") }} um {{ row.updateTime|date("H:i") }} Uhr">#}
                    {#<span class="icon-user"></span>#}
                {#</div>#}
            {#</div>#}
            {#{% if row.abstract is defined and row.abstract is not empty %}#}
            {#<div class="metadata-row-abstract">#}
                {#{{ row.abstract }}#}
            {#</div>#}
            {#{% endif %}#}
            {#<div class="metadata-row-foot">#}
                {#{% for item in applicationGet('app-search-menu') %}#}
                {#{% if item.path is defined %}#}

                {# Add id to params #}
                {#{% set params = item.params %}#}
                {#{% set params = params|merge({ 'id':  row.id }) %}#}

                {#<a href="{{ path(item.path, params) }}"{% if item.target is defined %} target="{{ item.target }}"{% endif %} class="plugin-menu-item">#}
                    {#{% if item.icon is defined %}#}
                        {#<span class="{{ item.icon }}"></span>#}
                    {#{% endif %}#}
                    {#{{ item.label|trans }}#}
                {#</a>#}
                {#{% elseif item.label is defined %}#}
                {#<button type="submit" class="no-style-button plugin-menu-item">#}
                    {#{% if item.icon is defined %}#}
                        {#<span class="{{ item.icon }}"></span>#}
                    {#{% endif %}#}
                    {#{{ item.label|trans }}#}
                {#</button>#}
                {#{% endif %}#}
                {#{% endfor %}#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{% endfor %}
{% endif %}
