{% if rows is defined and rows is iterable %}
{% for row in rows if is_granted('view', row.object|json_decode(true)) %}

    {% set p = row.object|json_decode(true) %}
    {% set editable = app.user and is_granted('edit', p) %}
    {% set title = p.title is defined and p.title is not empty ? p.title|teaser(75, true) : 'noname' %}

    <div class="search-result">
        <div class="result-header">
            <div class="left">
                {% if p['browserGraphic'] is defined and p['browserGraphic'] is not empty %}
                    <img src="{{ p['browserGraphic'] }}" class="-js-preview-image browser-graphic" />
                {% else %}
                    <img src="{{ asset('bundles/metadortheme/img/preview.png') }}" class="-js-preview-image browser-graphic" />
                {% endif %}
            </div>
            <div class="right">
                <div class="md-result-title">
                    {% if app.user %}
                        <a href="{{ path('metadata_edit', { 'profile' : p['_profile'], 'id' : p['_id'] }) }}" {% if title|length > 60 %}title="{{ title }}"{% endif %}>
                            {{ title|teaser(60, true) }}
                        </a>
                    {% else %}
                        <a href="{{ path('metador_export_html', { 'id' : p['_id'] }) }}" {% if title|length > 60 %}title="{{ title }}"{% endif %}>
                            {{ title|teaser(60, true) }}
                        </a>
                    {% endif %}

                    <div class="md-result-info">
                        {% if not editable and not app.user %}
                        <div class="result-icon" title="{% trans %}Um editieren zu können, müssen Sie angemeldet sein.{% endtrans %}">
                            <span class="icon-eye"></span>
                        </div>
                        {% elseif not editable and p['_locked'] is defined and p['_locked'] %}
                        <div class="result-icon" title="{% trans %}Datensatz ist derzeig gesperrt.{% endtrans %}">
                            <span class="icon-lock"></span>
                        </div>
                        {% elseif editable %}
                        <div class="result-icon">
                            <span class="icon-pencil"></span>
                        </div>
                        {% endif %}

                        <div class="result-icon">
                            <span class="icon-user"></span>
                        </div>
                    </div>
                </div>
                {% if not array_is_empty(p, 'alternateTitle') %}
                <div class="md-result-alternate-title" {% if p['alternateTitle']|length > 80 %}title="{{ p['alternateTitle'] }}"{% endif %}>
                    {{ p['alternateTitle']|teaser(80, true) }}
                </div>
                {% endif %}

                <hr class="line-separator">

                {% if not array_is_empty(p, 'abstract') %}
                <div class="md-result-abstract" {% if p['abstract']|length > 400 %}title="{{ p['abstract'] }}"{% endif %}>
                    {{ p['abstract']|teaser(400) }}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="result-footer">
            <div class="left">
                {% if p['hierarchyLevel'] is defined %}
                    {{ p['hierarchyLevel']|capitalize }}
                {% endif %}
                -
                {% if p['_dateStamp'] is defined %}
                    {{ p['_dateStamp'] }}
                {% endif %}
            </div>
            <div class="right">
                {% if app.environment == 'dev' %}
                    <a href="{{ path('metadata_test', { 'id' : p['_id'] }) }}" class="link">test</a>
                    <a href="{{ path('metador_export_obj', { 'id' : p['_id'] }) }}" class="link">object</a>
                    <a href="{{ path('metador_export_json', { 'id' : p['_id'] }) }}" class="link">json</a>
                {% endif %}

                <a href="{{ path('metador_export_pdf', { 'id' : p['_id'] }) }}" class="link">pdf</a>
                <a href="{{ path('metador_export_html', { 'id' : p['_id'] }) }}" class="link">html</a>
                <a href="{{ path('metador_export_xml', { 'id' : p['_id'] }) }}" class="link">xml</a>
            </div>
        </div>
    </div>
{% endfor %}
{% endif %}
