{% import 'MetadorBasicProfileBundle:Makro:form.html.twig' as form_element %}

<h1 class="title">Dateneigenschaften</h1>

<h2 class="title">Formate</h2>

<div class="grid space grid-space responsive">
    {% set readonly = false %}
    {% if p['_profile'] == 'metador_tile_profile' and p['_inheritance']['distributionFormat'] is defined %}
        {% set readonly = true %}
    {% endif %}

    <div class="fieldset2 -js-multi-fieldset" data-count="{{ array_length(p, 'distributionFormat', []) }}">
        <div class="head">
            <div class="left">
                {% if profile == 'metador_series_profile' %}
                    {{ form_element.inheritance({ 'name' : 'p[distributionFormat]', 'p': p }) }}
                {% endif %}
            </div>
            <div class="right">
                {% if not readonly %}
                    <span class="icon medium icon-plus -js-multi-fieldset-add"></span>
                {% endif %}
            </div>
        </div>
        <div class="rows -js-multi-fieldset-rows">
            <div class="row">
                <div class="row-content">
                    <div class="grid space responsive">
                        <div class="row r-4">
                            <div class="col c-1-4 form-label text-medium">
                                <span class="icon-question2 label small pointer -js-show-help" {{ 'p[distributionFormat][0][name]'|md_data_obj }}></span>
                                Bezeichnung:
                            </div>
                            <div class="col c-1-4 form-label text-medium">
                                <span class="icon-question2 label small pointer -js-show-help" {{ 'p[distributionFormat][0][version]'|md_data_obj }}></span>
                                Version:
                            </div>
                            <div class="col c-1-4 form-label text-medium">
                                <span class="icon-question2 label small pointer -js-show-help" {{ 'p[distributionFormat][0][specification]'|md_data_obj }}></span>
                                Spezifikation:
                            </div>
                            <div class="col c-1-4 form-label text-medium" title="Dekompressionsmethode">
                                <span class="icon-question2 label small pointer -js-show-help" {{ 'p[distributionFormat][0][fileDecompressionTechnique]'|md_data_obj }}></span>
                                {{ 'Dekompressionsmethode:'|teaser(10, true) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% for key in 0 .. array_length(p, 'distributionFormat', [{}]) -1 %}
                <div class="row -js-multi-field-row {% if key == 0 %}-js-multi-fieldset-default-row{% endif %}">
                    <div class="row-content">
                        <div class="grid space responsive">
                            <div class="row r-4">
                                <div class="col c-1-4">
                                    {{ form_element.select({
                                            'name'            : 'p[distributionFormat][' ~ key ~ '][name]',
                                            'validatorSources': tabId,
                                            'p'               : p,
                                            'class'           : '-js-set-fields',
                                            'hasList'         : true,
                                            'data'            : {
                                                'parent': '-js-multi-field-row'
                                            },
                                            'defaultList'     : {
                                                '': {
                                                    'name': '',
                                                    'version': '',
                                                    'specification': '',
                                                    'fileDecompressionTechnique': ''
                                                },
                                                'shape': {
                                                    'name': 'shape',
                                                    'version': '1.0',
                                                    'specification': 'unknown',
                                                    'fileDecompressionTechnique': 'zip'
                                                },
                                                'gml': {
                                                    'name': 'gml',
                                                    'version': '3.0.0',
                                                    'specification': 'unknown',
                                                    'fileDecompressionTechnique': 'keine'
                                                }
                                            },
                                            'help'            : false
                                        })
                                    }}
                                </div>
                                <div class="col c-1-4">
                                    {{ form_element.input({
                                        'name'            : 'p[distributionFormat][' ~ key ~ '][version]',
                                        'validatorSources': tabId,
                                        'p'               : p,
                                        'class'           : '-js-field-version',
                                        'readonly'        : true,
                                        'help'            : false
                                        })
                                    }}
                                </div>
                                <div class="col c-1-4">
                                    {{ form_element.input({
                                        'name'            : 'p[distributionFormat][' ~ key ~ '][specification]',
                                        'validatorSources': tabId,
                                        'p'               : p,
                                        'class'           : '-js-field-specification',
                                        'readonly'        : true,
                                        'help'            : false
                                    })
                                    }}
                                </div>
                                <div class="col c-1-4">
                                    {{ form_element.input({
                                        'name'            : 'p[distributionFormat][' ~ key ~ '][fileDecompressionTechnique]',
                                        'type'            : 'optional',
                                        'validatorSources': tabId,
                                        'p'               : p,
                                        'class'           : '-js-field-fileDecompressionTechnique',
                                        'readonly'        : true,
                                        'help'            : false
                                        })
                                    }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-icon -js-multi-fieldset-icons">
                        {% if key > 0 and not readonly %}
                            <span class="icon icon-bin2 -js-multi-fieldset-remove"></span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
