{% if name is not defined or p is not defined %}
<div class="notify error">
    The options <strong>name, label</strong> and <strong>p</strong> are required!
</div>
{% else %}
    {% set icons = 1 %}
    {% set id = name|md_id %}
    {% set type = type is defined ? type : 'mandatory' %}
    {% set default = default is defined ? default : '' %}
    {% set value = array_get(p, name|md_array_path, default, true) %}
    {% set class = class is defined ? class : '' %}
    {% set validatorSources = validatorSources is defined ? validatorSources : '' %}
    {% set showHelp = showHelp is defined ? showHelp : true %}

    {% if showHelp %}
        {% set icons = icons + 1 %}
    {% endif %}

    {% if label is defined and label is not empty %}
        <label for="{{ id }}" class="form-label">{{ label|trans }}:</label>
    {% endif %}

    <div class="form-field-wrapper i{{ icons }} -js-validation-wrapper">
        <span class="form-icon-type icon-{{ type }} rs left -js-validation-icon" data-validation-icon="icon-{{ type }}"></span>
        <input name="{{ name }}" id="{{ id }}" value="{{ value }}" data-validator-source="{{ validatorSources }}" class="input -js-user-input {{ class }}" {{ name|md_data_obj }} {% if placeholder is defined %}placeholder="{{ placeholder }}" {% endif %}/>
        {% if showHelp %}
            <span class="form-icon icon-question2 -js-show-help" {{ name|md_data_obj }}></span>
        {% endif %}
    </div>
{% endif %}
