{% if name is not defined or label is not defined or p is not defined %}
    <div class="notify error">
        The options <strong>name, label</strong> and <strong>p</strong> are required!
    </div>
{% else %}
    {% set id = name|md_id %}
    {% set type = type is defined ? type : 'mandatory' %}
    {% set default = default is defined ? default : '' %}
    {% set value = array_get(p, name|md_array_path, default) %}
    {% set class = class is defined ? class : '' %}
    {% set validatorSources = validatorSources is defined ? validatorSources : '' %}

    <label for="{{ id|md_id }}" class="form-label">{{ label|trans }}</label>
    <div class="form-field-wrapper i2 -js-validation-wrapper">
        <span class="form-icon-type icon-{{ type }} rs left -js-validation-icon" data-validation-icon="icon-{{ type }}"></span>
        <input name="{{ id }}" id="{{ id|md_id }}" value="{{ value }}" data-validator-source="{{ validatorSources }}" class="input -js-user-input {{ class }}" {{ id|md_data_obj }} {% if placeholder is defined %}placeholder="{{ placeholder }}" {% endif %}/>
        <span class="form-icon icon-question2 -js-show-help" {{ id|md_data_obj }}></span>
    </div>
{% endif %}
