{% if name is not defined or p is not defined %}
    <div class="notify error">
        The options <strong>name, label</strong> and <strong>p</strong> are required!
    </div>
{% else %}
    {% set id = name|md_id %}
    {% set type = type is defined ? type : 'mandatory' %}
    {% set default = default is defined ? default : '' %}
    {% set value = array_get(p, name|md_array_path, default) %}
    {% set class = class is defined ? class : '' %}
    {% set validatorSources = validatorSources is defined ? validatorSources : '' %}

    {% if readonly is not defined %}
        {% set readonly = false %}
    {% endif %}

    {% if inherited %}
        {% set readonly = true %}
    {% endif %}

    {% if label is defined and label is not empty %}
        {% if inheritance is defined and inheritance == true %}
            {% include '@MetadorBasicProfile/Element/inheritance.html.twig' %}
        {% endif %}
        <label for="{{ id }}" class="form-label">{{ label }}:</label>
    {% endif %}

    <div class="form-field-wrapper i2 -js-validation-wrapper {% if readonly is defined and readonly == true %}readonly{% endif %}">
        {% if inherited  %}
            <span class="form-icon-type rs left icon-tree"></span>
        {% elseif type != null %}
            <span class="form-icon-type icon-{{ type }} rs left -js-validation-icon" data-validation-icon="icon-{{ type }}"></span>
        {% endif %}
        <textarea name="{{ name }}" id="{{ id }}" class="textarea -js-user-input {{ class }}" {{ name|md_data_obj }} {% if placeholder is defined %}placeholder="{{ placeholder }}{% endif %}" data-validator-source="{{ validatorSources }}" {% if readonly is defined and readonly == true %}readonly{% endif %}>{{ value }}</textarea>
        <span class="form-icon icon-question2 -js-show-help" {{ name|md_data_obj }} title="{{ name }}"></span>
    </div>
{% endif %}
