{% extends 'WhereGroupMetadorBundle:Design:withoutMenu.html.twig' %}

{% block title %}MeTaDor - Daten{% endblock %}

{% block contentMenu %}
    {% include 'WhereGroupMetadorBundle:Dataset:contentMenu.html.twig' %}
{% endblock %}

{% block content %}
<div class="tableBorder">
    <table class="table" id="metadataTable" data-controller="data">
        <thead>
            <tr>
                <th>{{'Titel'|trans}}</th>
                <th>bearbeitet von</th>
                <th>bearbeitet am</th>
                {% if conf['gdi_de'] is defined 
                    and conf['gdi_de']['url'] is not empty 
                    and conf['gdi_de']['user'] is not empty 
                    and conf['gdi_de']['password'] is not empty 
                %}
                <th>GDI-DE</th>
                {% endif %}
                <th class="right last-1" title="öffentlich"><div class="icon world"></div></th>
                <th class="right last-1"><div class="icon appedit"></div></th>
            </tr>
        </thead>
        <tbody>
    {% for row in rows %}
        <tr data-id="{{ row.id }}">
            <td>{{ row.title }}</td>
            <td>{{ row.updateUser.username }}</td>
            <td>{{ row.updateTime|date("d.m.Y H:i") }}</td>
            {% if conf['gdi_de'] is defined 
                and conf['gdi_de']['url'] is not empty 
                and conf['gdi_de']['user'] is not empty 
                and conf['gdi_de']['password'] is not empty 
            %}
            <td class="testsuite"><a href="{{ path('wheregroup_metador_gdide_show', {'id':row.id}) }}" target="_BLANK">Testsuite</a></td>
            {% endif %}
            <td><input type="checkbox" name="{{ row.id }}" class="shareMetadata" {% if row.public == 1 %}checked="checked"{% endif %} /></td>
            <td class="right last-1">
                <form action="{{ path('wheregroup_metador_data_delete', {'id':row.id}) }}" method="post">
                    <button class="noStyle" onClick="return confirm('Wirklich löschen?')">
                        <div class="icon delete"></div>
                    </button>
                </form>  
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}